 <section class="lg:pb-36 pb-20">
        <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-7.5 lg:gap-12">
                <div class="md:col-span-7 col-span-1">
                    <img src="assets/images/about/10.jpg" class="rounded-2xl mb-12" alt="office image">
                    <img src="assets/images/about/11.jpg" class="rounded-2xl w-3/4 flex ms-auto md:me-12" alt="office image">
                </div>

                <div class="md:col-span-5 col-span-1 lg:w-100 ms-auto">
                    <div class="text-end mb-12 md:mb-18">
                        <h6 class="md:text-2.2xl text-xl">Since</h6>
                        <span class="lg:text-9xl md:text-[85px] text-7xl font-semibold text-primary-grad">2002</span>
                    </div>
                    <img src="assets/images/about/12.jpg" class="rounded-2xl" alt="office image">
                </div>
            </div>
        </div>
    </section>