<section class="lg:pb-36 pb-20 relative overflow-hidden">
  <div class="absolute bottom-0 end-0 -mb-2 -me-18 hidden lg:block">
    <img src="assets/images/elements/relex-slay.png" class="h-75 rtl-flip" alt="image" />
  </div>

  <div class="container">
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-7.5">
      <div class="col-span-1">
        <h2 class="mb-4 lg:text-4.5xl md:text-4xl text-3xl">Insights from our blog</h2>
        <p class="mb-7.5 flex items-center flex-wrap gap-1 font-medium">
          <lucide-icon name="instagram" class="size-4 text-primary me-1"></lucide-icon>Follow us on
          <b>Instagram</b> to see life at
          <a [routerLink]="[]" class="hover-underline text-primary">@folio</a>
        </p>

        <div class="flex gap-2">
          <a
            [routerLink]="[]"
            id="swiper-button-prev"
            class="size-12 bg-secondary text-default-900 flex justify-center items-center rounded-full hover:bg-primary/20"
            ><lucide-icon name="arrow-left"></lucide-icon
          ></a>
          <a
            [routerLink]="[]"
            id="swiper-button-next"
            class="size-12 bg-secondary text-default-900 flex justify-center items-center rounded-full hover:bg-primary/20"
            ><lucide-icon name="arrow-right"></lucide-icon
          ></a>
        </div>
      </div>

      <div class="lg:col-span-2">
        <div class="swiper">
          <swiper-container
            space-between="30"
            loop="true"
            breakpoints='{
                "576": { "slidesPerView": 1 },
                "768": { "slidesPerView": 2 },
                "1200": { "slidesPerView": 2 }
            }'
            navigation="true"
            navigation-next-el="#swiper-button-next"
            navigation-prev-el="#swiper-button-prev"
            class="swiper-wrapper"
          >
            @for (item of blogData; track item.title) {
              <swiper-slide>
                <article class="relative group">
                  <!-- Badge -->
                  <div
                    class="py-1 px-2 rounded text-white bg-dark absolute top-0 start-0 text-xs m-7.5"
                  >
                    {{ item.badge }}
                  </div>

                  <!-- Image -->
                  <img [src]="item.image" class="rounded-xl" alt="blog-image" />

                  <!-- Card body -->
                  <div class="pt-4">
                    <h6 class="text-default-900 md:text-2.2xl text-xl mb-4">
                      {{ item.title }}
                    </h6>

                    <div class="flex justify-between items-center">
                      <p class="mb-0">By {{ item.author }}</p>

                      <a
                        class="flex items-center gap-1 text-primary font-medium"
                        [routerLink]="item.link"
                      >
                        Read more
                        <lucide-icon
                          name="arrow-right"
                          class="size-4 group-hover:translate-x-1 transition-all duration-500"
                        ></lucide-icon>
                      </a>
                    </div>
                  </div>
                </article>
              </swiper-slide>
            }
          </swiper-container>
        </div>
        
      </div>
    </div>
  </div>
</section>
