<section class="relative z-30 lg:pb-36 pb-20">
        <div class="container">
            <div class="grid lg:grid-cols-12 grid-cols-1 gap-7.5">
                <div class="col-span-5 lg:pt-24 lg:order-1 order-2">
                    <h5 class="mb-7.5 xl:mb-12 lg:text-2.5xl text-2xl">Achieving financial excellence together</h5>

                    <div class="grid md:grid-cols-2 grid-cols-1 gap-7.5">
                        <div>
                            <h6 class="mb-2 text-2.2xl flex items-center"><lucide-icon name="zap" class="fill-success text-success me-2 size-5.5"></lucide-icon>Our mission</h6>
                            <p class="text-default-800">We deliver exceptional financial consulting services tailored to your unique needs.</p>
                        </div>

                        <div>
                            <h6 class="mb-2 text-2.2xl flex items-center"><lucide-icon name="target" class="text-warning me-2 size-5.5"></lucide-icon>Our goal</h6>
                            <p class="text-default-800">We aim to help you grow and protect your wealth, ensuring a secure.</p>
                        </div>
                    </div>
                </div>

                <div class="col-span-7 lg:order-2 order-1 lg:px-0 md:px-5">
                    <div class="lg:w-7/10 ms-auto lg:-mt-80 -mt-20 bg-dark rounded-2xl">
                        <div class="pt-7.5 pb-5 px-5">
                            <h5 class="text-center lg:text-2.5xl md:text-2xl text-2xl mb-7.5 text-white">Book a consultant</h5>
                        </div>
                        <div class="pb-7.5 px-7.5">
                            <div class="grid grid-cols-2 gap-7.5">
                                <div>
                                    <label class="block text-sm font-medium mb-2 text-white/80">
                                        First name
                                    </label>
                                    <input type="text" class="w-full rounded-md bg-white/10! px-7.5 py-3.5 focus:border-primary! focus:ring-1 focus:ring-primary border-0! outline-none transition text-white!" />
                                </div>

                                <div>
                                    <label class="block text-sm font-medium mb-2 text-white/80">
                                        Last name
                                    </label>
                                    <input type="text" class="w-full rounded-md bg-white/10! px-7.5 py-3.5 focus:border-primary! focus:ring-1 focus:ring-primary border-0! outline-none transition text-white!" />
                                </div>

                                <div>
                                    <label class="block text-sm font-medium mb-2 text-white/80">
                                        Email address
                                    </label>
                                    <input type="email" class="w-full rounded-md bg-white/10! px-7.5 py-3.5 focus:border-primary! focus:ring-1 focus:ring-primary border-0! outline-none transition text-white!" />
                                </div>

                                <div>
                                    <label class="block text-sm font-medium mb-2 text-white/80">
                                        Mobile number
                                    </label>
                                    <input type="text" class="w-full rounded-md bg-white/10! px-7.5 py-3.5 focus:border-primary! focus:ring-1 focus:ring-primary border-0! outline-none transition text-white!" />
                                </div>

                                <div class="col-span-2">
                                    <label class="block text-sm font-medium mb-2 text-white/80">
                                        Subject
                                    </label>
                                    <input type="text" class="w-full rounded-md bg-white/10! px-7.5 py-3.5 focus:border-primary! focus:ring-1 focus:ring-primary border-0! outline-none transition text-white!" />
                                </div>

                                <div class="col-span-2">
                                    <label class="block text-sm font-medium mb-2 text-white/80">
                                        Message
                                    </label>
                                    <textarea type="text" class="w-full rounded-md bg-white/10! px-7.5 py-3.5 focus:border-primary! focus:ring-1 focus:ring-primary border-0! outline-none transition text-white! h-25"></textarea>
                                </div>

                                <div class="col-span-2">
                                    <button class="text-dark bg-white py-3.5 px-7.5 rounded-md font-medium mb-2 md:mb-0">Send a message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>