 <section class="lg:pb-36 pb-20 relative overflow-hidden">
        <div class="absolute bottom-0 end-0 -mb-4 -me-24 hidden xl:block">
            <img src="assets/images/elements/relex-slay.png" class="h-100 xl:h-125 rtl-flip" alt="image">
        </div>

        <div class="container">
            <div class="grid lg:grid-cols-12 grid-cols-1 gap-7.5 items-center">
                <div class="lg:col-span-5">
                    <iframe class="w-full h-50 lg:h-125 grayscale rounded-2xl block mb-4 lg:mb-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin" style="margin-bottom: -5px;" aria-hidden="false" tabindex="0"></iframe>
                </div>

                <div class="lg:col-span-7 lg:w-165 lg:ms-auto">
                    <h2 class="mb-7.5 lg:text-4.5xl md:text-4xl text-3xl">Our offices</h2>

                    <div class="grid md:grid-cols-2 grid-cols-1 gap-7.5 mb-7.5">
                        <div>
                            <div class="flex items-center gap-2">
                                <div class="size-8.75 shrink-0">
                                    <img src="assets/images/flags/uk.svg" alt="avatar" class="size-full rounded-full object-cover" />
                                </div>
                                <h6 class="mb-0 text-xl md:text-2.2xl font-medium">
                                    New York, USA (HQ)
                                </h6>
                            </div>

                            <ul class="mt-4 mb-0 list-disc ps-8 font-medium">
                                <li class="mb-2">750 Sing Sing Rd, Horseheads, NY, 14845</li>
                                <li class="mb-2">Call: 469-537-2410 (Toll-free)</li>
                                <li class="mb-2">Support time: Monday to Saturday 9:00 am to 5:30 pm</li>
                            </ul>
                        </div>

                        <div>
                            <div class="flex items-center gap-2">
                                <div class="size-8.75 shrink-0">
                                    <img src="assets/images/flags/in.svg" alt="avatar" class="size-full rounded-full object-cover" />
                                </div>
                                <h6 class="mb-0 text-xl md:text-2.2xl font-medium">
                                    India
                                </h6>
                            </div>

                            <ul class="mt-4 mb-0 list-disc ps-8 font-medium">
                                <li class="mb-2">55/123 Norman street, Banking road, Sydney NSW 5000</li>
                                <li class="mb-2">Call: 258-698-2410 (Toll-free)</li>
                                <li class="mb-2">Support time: Monday to Saturday 9:00 am to 5:30 pm</li>
                            </ul>
                        </div>
                    </div>
                    <a [routerLink]="[]" role="button" class="py-3.5 px-7.5 group rounded-md font-medium bg-secondary text-default-800 hover:bg-primary/20 transition-all duration-300 inline-flex items-center gap-1.5"> Contact our help center <lucide-icon name="arrow-right" class="size-4 group-hover:translate-x-1 transition-all duration-300"></lucide-icon> </a>
                </div>
            </div>
        </div>
    </section>