<header>
    <div class="header-sticky navbar bg-transparent absolute transition-all top-0 inset-x-0 w-full z-60 duration-300 [.header-sticky-on]:bg-body-bg [.header-sticky-on]:dark:bg-[#121519] [.header-sticky-on]:border-b border-default-200 dark:border-white/14 ">
        <div class="bg-primary py-2 px-4 lg:block hidden">
            <navbar2-topbar />
        </div>

        <div class="container">
            <div class="flex items-center justify-between">
                <a routerLink="/" class="flex items-center lg:py-7.5 py-5">
                    <img src="assets/images/logo.svg" class="lg:h-10 h-7.5 block dark:hidden" />
                    <img src="assets/images/logo-light.svg" class="lg:h-10 h-7.5 hidden dark:block" />
                </a>

                <app-navbar />

                <div class="flex justify-end items-center gap-2">
                    <app-theme-dropdown />

                    <button type="button" class="py-2.5 px-5 text-white bg-dark rounded text-2xs md:inline-flex hidden gap-1.5 items-center disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="dialog" aria-expanded="false" aria-controls="scheduleCallLabel" data-hs-overlay="#scheduleCallLabel">
                        <lucide-icon name="calendar" class="size-3.5"></lucide-icon>
                        Schedule a call
                    </button>

                    <div class="flex items-center lg:hidden">
                        <button type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="mobileMenuOffcanvas" data-hs-overlay="#mobileMenuOffcanvas" class="size-10 border border-default-200 dark:border-white/14 rounded flex justify-center items-center md:ms-2">
                            <iconify-icon icon="tabler:align-right" class="text-default-800" height="28" width="28"></iconify-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mobileMenuOffcanvas" class="lg:hidden hs-overlay hs-overlay-open:translate-y-0 -translate-y-full fixed top-0 inset-x-0 overflow-hidden transition-all duration-300 transform h-60 z-80 bg-body-bg shadow-xl" role="dialog" tabindex="-1" aria-labelledby="mobileMenuOffcanvas-label">
        <div class="h-16 flex items-center justify-between px-4 border-b border-default-200 dark:border-white/14 sticky top-0">
            <div class="text-lg font-bold">
                <a routerLink="/" class="flex items-center gap-2">
                    <img src="assets/images/logo.svg" class="h-9 block dark:hidden" />
                    <img src="assets/images/logo-light.svg" class="h-9 hidden dark:block" />
                </a>
            </div>

            <button type="button" class="bg-default-600/15 text-default-600 size-8 flex justify-center items-center rounded-full" aria-label="Close" data-hs-overlay="#mobileMenuOffcanvas">
                <span class="sr-only">Close</span>
                <iconify-icon icon="tabler:x" height="16" width="16"></iconify-icon>
            </button>
        </div>
        <app-mobile-menu />
    </div>
    <div id="scheduleCallLabel" class="hs-overlay hs-overlay-open:translate-x-0 hidden translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full max-w-xs w-full z-80 bg-body-bg shadow-2xl border-e border-default-200 dark:bg-neutral-800 dark:border-neutral-700" role="dialog" tabindex="-1" aria-labelledby="scheduleCallLabel-label">
        <app-schedule-modal />
    </div>
</header>