<section class="lg:pb-36 pb-20 lg:pt-32 pt-20 relative overflow-hidden bg-secondary">
  <div class="absolute top-0 start-0 -mt-44 -ms-12">
    <img
      src="assets/images/elements/grad-shape/blur-decoration.svg"
      class="blur-2xl opacity-20"
      alt="Grad shape"
    />
  </div>

  <div class="absolute top-0 start-1/2 -translate-x-1/2 -mt-44 -ms-44">
    <img
      src="assets/images/elements/grad-shape/blur-decoration.svg"
      class="blur-[80px] opacity-10"
      alt="Grad shape"
    />
  </div>

  <div class="container">
    <div class="md:pt-12 pt-7.5 relative">
      <div class="absolute top-1/2 start-0 -translate-x-1/2 -translate-y-1/2 mt-12">
        <img src="assets/images/elements/clay-decoration.png" alt="Clay-decoration" />
      </div>

      <div class="max-w-225 mx-auto md:mb-24 mb-12">
        <nav class="mb-4 pb-2 flex justify-center" aria-label="breadcrumb">
          <ol class="flex items-center space-x-2 text-2xs text-default-600">
            <li>
              <a routerLink="/" class="hover:text-primary font-medium"> Home </a>
            </li>

            <li class="flex items-center">
              <span class="px-2 text-default-400">/</span>
              <span class="font-medium text-primary" aria-current="page"> About us </span>
            </li>
          </ol>
        </nav>

        <h1 class="lg:text-7xl md:text-5.5xl text-[40px] font-bold text-center mb-7.5">
          Elevating <span class="text-primary-grad">Brands</span> with Distinctive Visuals
        </h1>

        <div class="flex flex-wrap gap-7.5 justify-center items-center py-2">
          <a
            routerLink="/services/grid"
            class="rounded-md font-medium inline-flex bg-white border border-white text-dark shadow-[0_0.18rem_0.25rem_rgba(127,57,248,0.2)] py-3.5 px-7.5 hover:bg-white hover:border-white hover:text-dark hover:shadow-[0_0.3rem_0.25rem_rgba(127,57,248,0.3)] hover:-translate-y-0.75 transition-all duration-300"
            >Explore our services</a
          >

          <div class="flex items-center justify-center text-start">
            <a
              data-glightbox=""
              data-gallery="office-tour"
              href="https://www.youtube.com/embed/tXHviS-4ygo"
              class="size-13.25 rounded-full flex justify-center items-center bg-dark text-white mb-0 shrink-0"
              appGlightbox
            >
              <lucide-icon name="play" class="fill-white size-4"></lucide-icon>
            </a>
            <p class="ms-4 text-default-800 max-w-52">Learn about our journey and growth</p>
          </div>
        </div>
      </div>

      <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-12 gap-7.5">
        @for (item of countersData; track $index) {
          <div class="p-4 bg-body-bg/50 rounded-2xl backdrop-blur-[5px]">
            <div class="p-5 md:mb-18 mb-7.5">
              <p class="mb-4 text-default-700">{{ item.title }}</p>
            </div>

            <div class="p-5 bg-transparent flex mt-auto">
              @if (item.showIcon) {
                <span class="text-success mb-0">
                  <lucide-icon name="arrow-up" class="size-5"></lucide-icon>
                </span>
              }
              <h4
                class="counter lg:text-4.5xl md:text-4xl text-3xl mb-0"
                [countUp]="item.value"
              ></h4>
              <span class="lg:text-4.5xl md:text-4xl text-3xl text-primary font-semibold">+</span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
