<section class="lg:pb-36 pb-20 md:pt-0 pt-20">
    <div class="container">
        <h2 class="text-center mb-18 lg:text-4.5xl md:text-4xl text-3xl">Our workflow</h2>

        <!-- Steps -->
        <div class="grid md:grid-cols-3 grid-cols-1 lg:gap-24 md:gap-7.5 gap-12">
            @for (step of processData; track $index) {
            <div [class]="step.marginTop">
                <div class="p-7.5 bg-secondary/75 rounded-2xl relative">
                    <div class="size-14 text-xl rounded-full flex justify-center items-center font-semibold text-white mx-auto absolute top-0 start-1/2 -translate-x-1/2 -translate-y-1/2 -mt-2" [class]="step.bgColor">
                        {{ step.number }}
                    </div>
                    <h6 class="mt-7.5 mb-2 text-center md:text-2xl text-xl">
                        {{ step.title }}
                    </h6>
                    <p class="text-default-700 text-center">
                        {{ step.description }}
                    </p>

                </div>
            </div>
            }
        </div>
    </div>
</section>