<section class="lg:pb-36 pb-20 pt-12 bg-dark relative overflow-hidden">
  <div class="absolute bottom-0 end-0 -mb-32">
    <img
      src="assets/images/elements/grad-shape/blur-decoration-2.svg"
      class="opacity-20 blur-[144px]"
      alt="Grad shape"
    />
  </div>

  <span class="absolute top-0 start-0">
    <svg
      class="text-secondary rtl-flip z-0"
      width="1920"
      height="197"
      viewBox="0 0 1920 197"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 0H1920V5.5L0 197V0Z" fill="currentColor"></path>
    </svg>
  </span>

  <div class="container">
    <div class="grid lg:grid-cols-2">
      <div class="lg:pe-24">
        <img
          src="assets/images/about/01.jpg"
          class="rounded-2xl relative z-20 lg:w-full w-135 mx-auto"
          alt="process image"
        />
      </div>
      <div class="lg:mt-24 mt-12">
        <span class="text-primary text-xl">Our process</span>
        <h2 class="mt-4 mb-7.5 lg:text-4.5xl md:text-4xl text-3xl text-white">
          Streamline your path to success
        </h2>

        <div class="hs-accordion-group">
          @for (item of faqsData; track $index; let i = $index) {
            <div
              class="hs-accordion border-b border-light/10 hs-accordion-active:border-primary"
              [class.active]="item.isActive"
              [attr.id]="'heading-' + i"
            >
              <button
                class="hs-accordion-toggle hs-accordion-active:text-white py-6 inline-flex items-center w-full font-normal text-start text-2.2xl text-white/80"
                [attr.aria-expanded]="item.isActive"
                [attr.aria-controls]="'collapse-' + i"
              >
                <span
                  class="size-10 flex justify-center items-center rounded-full me-2.5 bg-white/90 text-base text-dark"
                  [ngClass]="{
                    'hs-accordion-active:bg-primary hs-accordion-active:text-white': true,
                  }"
                >
                  {{ item.id }}
                </span>

                {{ item.title }}

                <lucide-icon
                  name="chevron-up"
                  class="text-white hs-accordion-active:block hidden size-6 ms-auto"
                ></lucide-icon>

                <lucide-icon
                  name="chevron-down"
                  class="text-white hs-accordion-active:hidden block size-6 ms-auto"
                ></lucide-icon>
              </button>

              <div
                class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 ps-12 pe-5 pb-6"
                [class.hidden]="!item.isActive"
                [attr.id]="'collapse-' + i"
                role="region"
                [attr.aria-labelledby]="'heading-' + i"
              >
                <div class="text-base text-white/80">
                  {{ item.description }}
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="grid md:grid-cols-4 gap-7.5 md:mt-32 mt-12">
      @for (item of countersData; track item.text; let i = $index; let isLast = $last) {
        <div>
          <div class="flex" [ngClass]="!isLast ? 'h-full xl:pe-7.5' : ''">
            <div>
              <div class="flex mb-2 sm:mb-18 items-center">
                @if (item.prefix) {
                  <h1 class="text-white lg:text-6xl md:text-4.5xl text-4xl">
                    {{ item.prefix }}
                  </h1>
                }

                <h4
                  class="lg:text-6xl md:text-4.5xl text-4xl text-white counter"
                  [countUp]="item.count"
                >
                </h4>

                <h1 class="lg:text-6xl md:text-4.5xl text-4xl font-semibold" [ngClass]="item.color">
                  {{ item.suffix }}
                </h1>
              </div>

              <p class="text-white/80 text-xl mb-4" [innerHTML]="item.text">
               
              </p>
            </div>

            @if (item.divider) {
              <div class="h-full border-e border-white/25 ms-auto hidden sm:block"></div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</section>
