 <section class="lg:pt-32 lg:pb-36 py-20 bg-secondary relative overflow-hidden">
        <div class="absolute top-0 start-0 -mt-44 -ms-12">
            <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[32px] opacity-20" alt="Grad shape">
        </div>

        <div class="container">
            <div class="grid lg:grid-cols-2 items-center md:pt-12 pt-7.5 lg:gap-0 gap-12">
                <div class="lg:pe-12">
                    <h1 class="font-medium mb-7.5 lg:text-6xl md:text-[46px] text-4xl">
                        We help your
                        <span class="font-bold lg:text-[67px] md:text-[51px] text-4xl">Business <span class="text-primary">Grow</span></span>
                    </h1>

                    <p class="text-xl">Let your brand shine with our innovative and visually stunning websites.</p>

                    <ul class="flex flex-wrap gap-2 lg:gap-4 mt-4 mb-4 lg:mt-7.5">
                        <li class="font-medium text-default-900 flex items-center"> <lucide-icon name="circle-check" class="size-4 text-success me-1"></lucide-icon>Flexible solutions</li>
                        <li class="font-medium text-default-900 flex items-center"> <lucide-icon name="circle-check" class="size-4 text-success me-1"></lucide-icon>System integration</li>
                        <li class="font-medium text-default-900 flex items-center"> <lucide-icon name="circle-check" class="size-4 text-success me-1"></lucide-icon>Complimentary updates</li>
                    </ul>

                    <div class="flex flex-wrap items-center gap-4 mt-4 lg:mt-7.5">
                        <a [routerLink]="[]" class="rounded-md font-medium bg-white border border-white text-dark shadow-[0_0.18rem_0.25rem_rgba(127,57,248,0.2)] py-3.5 px-7.5 hover:bg-white hover:border-white hover:text-dark hover:shadow-[0_0.3rem_0.25rem_rgba(127,57,248,0.3)] hover:-translate-y-0.75 transition-all duration-300">Get started</a>
                        <a routerLink="/portfolio/modern" class="group flex items-center gap-1.5">
                            <span class="text-primary-grad">Explore our projects</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </a>
                    </div>
                </div>

                <div class="relative md:ps-12">
                    <!-- Main image -->
                    <div class="relative">
                        <img src="assets/images/bg/01.jpg" class="rounded-2xl" alt="hero-img" />

                        <!-- Rating decoration -->
                        <div class="hidden sm:block absolute bottom-0 end-0 bg-body-bg rounded-4xl shadow-[0_0.2rem_0.25rem_rgba(95,65,251,0.2)] p-7.5 z-20 -mb-8 -me-8.75">
                            <!-- Avatar list -->
                            <ul class="flex items-center -space-x-3 mb-2">
                                <li>
                                    <img class="size-10 rounded-full" src="assets/images/avatar/01.jpg" alt="avatar" />
                                </li>

                                <li>
                                    <img class="size-10 rounded-full" src="assets/images/avatar/02.jpg" alt="avatar" />
                                </li>

                                <li>
                                    <img class="size-10 rounded-full" src="assets/images/avatar/03.jpg" alt="avatar" />
                                </li>

                                <li>
                                    <img class="size-10 rounded-full" src="assets/images/avatar/08.jpg" alt="avatar" />
                                </li>

                                <li class="relative size-10 rounded-full bg-black flex items-center justify-center">
                                    <span class="text-body-bg text-xs font-bold">500+</span>
                                </li>
                            </ul>

                            <p class="text-base text-default-600 mb-4">Total visitors per month</p>

                            <!-- Rating -->
                            <p class="font-bold text-default-900 flex items-center">
                                <iconify-icon icon="tabler:star-filled" class="text-warning me-2" width="22" height="22"></iconify-icon>
                                <span class="text-2.5xl">4.8</span>/5.0
                            </p>
                        </div>

                        <!-- Rating bg -->
                        <span class="hidden sm:block absolute bottom-0 end-0 text-secondary -mb-px -me-px">
                            <!-- SVG unchanged -->
                            <svg width="250" height="202" viewBox="0 0 250 202" fill="none">
                                <path d="M25.5108 49.8918C25.5108 36.1146 37.1379 24.9459 51.4807 24.9459H249.89V201.563H25.5108V49.8918Z" fill="currentColor" />
                                <path d="M249.89 0L250 24.9457L224.03 25.0511C238.373 24.9929 249.951 13.7771 249.89 0Z" fill="currentColor" />
                                <path d="M25.5068 176.617L25.9658 201.559L0 202C14.3405 201.756 25.7603 190.392 25.5068 176.617Z" fill="currentColor" />
                            </svg>
                        </span>
                    </div>

                    <!-- Testimonial decoration -->
                    <div class="absolute top-0 start-0 mt-4 md:-ms-7.5">
                        <div class="bg-body-bg shadow-[0_0.2rem_0.25rem_rgba(95,65,251,0.2)] rounded-full inline-flex items-center ps-2 pe-7.5 py-2">
                            <!-- Avatar -->
                            <img class="size-12 rounded-full shrink-0" src="assets/images/avatar/08.jpg" alt="avatar" />
                            <div class="ps-3">
                                <span class="text-sm font-bold text-default-900">Dennis Barrett</span>
                                <p class="text-sm">🔥 Folio team nailed it!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>