 <section class="lg:pb-36 pb-20">
        <div class="container">
            <div class="border-t border-b border-primary/20 xl:mx-18 py-7.5 xl:py-18 xl:px-7.5" style="--bs-border-opacity: .20;">
                <div class="grid md:grid-cols-3 grid-cols-1 gap-7.5">
                    <!-- Item -->
                    <div>
                        <div class="flex justify-between">
                            <div class="md:flex items-center">
                                <!-- Number -->
                                <h4 class="lg:text-4.5xl md:text-4xl text-3xl font-semibold">99<span class="ms-1 text-primary">%</span></h4>
                                <!-- Text -->
                                <p class="mb-0 md:ms-4 text-default-700">Track and analyze business reports</p>
                            </div>
                            <!-- Vr divider -->
                            <div class="w-0.5 min-h-4 bg-primary mx-2 opacity-20 hidden sm:block"></div>
                        </div>
                    </div>

                    <!-- Item -->
                    <div>
                        <div class="flex justify-between">
                            <div class="md:flex items-center">
                                <!-- Number -->
                                <h4 class="lg:text-4.5xl md:text-4xl text-3xl font-semibold">4.8</h4>
                                <!-- Text and star -->
                                <div class="md:ms-4">
                                    <ul class="flex mb-0">
                                        <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                        <li><lucide-icon name="star-half" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                    </ul>
                                    <p>Best rated company</p>
                                </div>
                            </div>
                            <!-- Vr divider -->
                            <div class="w-0.5 min-h-4 bg-primary mx-2 opacity-20 hidden sm:block"></div>
                        </div>
                    </div>

                    <!-- Item -->
                    <div>
                        <div class="flex justify-between">
                            <div class="md:flex items-center">
                                <!-- Number -->
                                <h4 class="lg:text-4.5xl md:text-4xl text-3xl font-semibold">95<span class="ms-1 text-purple">%</span></h4>
                                <!-- Text -->
                                <p class="mb-0 md:ms-4 text-default-700">Genuine reputed happy customers</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->
            </div>
        </div>
    </section>