 <section class="lg:pb-36 pb-20 pt-12">
        <div class="container">
            <div class="bg-linear-to-r from-[rgba(240,150,255,0.15)] via-[rgba(191,200,252,0.15)] to-[rgba(187,148,255,0.15)] relative rounded-2xl overflow-hidden p-7.5 md:p-18">
                <div class="absolute end-0 top-0 rotate-343 -mt-12 me-24 hidden md:block">
                    <img src="assets/images/elements/geo-grad-pattern.svg" class="h-125 opacity-30" alt="bg pattern">
                </div>

                <div class="absolute start-0 top-0 rotate-343 -mt-12 -ms-32">
                    <img src="assets/images/elements/geo-grad-pattern.svg" class="h-75 opacity-10" alt="bg pattern">
                </div>

                <div class="grid lg:grid-cols-2 grid-cols-1 gap-7.5 items-center">
                    <div>
                        <h2 class="mb-2 lg:text-4.5xl md:text-4xl text-3xl">Ready to transform your <span class="text-primary-grad">vision</span> into reality?</h2>
                        <ul class="mt-4 mb-0 flex flex-wrap gap-3">
                            <li class="flex items-center text-default-800 font-medium">
                                <lucide-icon name="circle-check" class="size-4 me-1 text-success"></lucide-icon>
                                No Credit Card Required
                            </li>

                            <li class="flex items-center text-default-800 font-medium">
                                <lucide-icon name="circle-check" class="size-4 me-1 text-success"></lucide-icon>
                                14 days free trial
                            </li>
                        </ul>
                    </div>

                    <div class="flex lg:justify-end relative z-30">
                        <a routerLink="/contact/v1" class="text-white bg-dark py-3.5 px-7.5 rounded-md font-medium">Let's work together</a>
                    </div>
                </div>
            </div>
        </div>
    </section>