 <section class="lg:pb-36 pb-20">
        <div class="container">
            <div class="bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)] relative rounded-2xl overflow-hidden p-7.5 md:p-18">
                <div class="absolute end-0 top-0 rotate-343 -mt-12 hidden md:block">
                    <img src="assets/images/elements/grad-shape/05.png" class="h-100 opacity-80 blur-sm" alt="bg pattern">
                </div>

                <div class="grid lg:grid-cols-2 grid-cols-1 gap-7.5 items-center relative z-30">
                    <div>
                        <h2 class="mb-2 lg:text-4.5xl md:text-4xl text-3xl">Elevate your business to the next level</h2>
                        <p>Explore the possibilities and discover how integrating with [Your SaaS Product] can take your business to the next level.</p>
                    </div>

                    <div class="flex lg:justify-end">
                        <a [routerLink]="[]" class="text-white bg-dark py-3.5 px-7.5 rounded-md font-medium">Optimize Your Workflow</a>
                    </div>
                </div>
            </div>
        </div>
    </section>