<div class="container">
    <div class="flex justify-between items-center">
        <ul class="flex flex-wrap gap-4 text-white mb-0">
            <li class="text-sm font-light flex items-center">
                <lucide-icon name="headset" class="me-2 size-3.5"></lucide-icon>
                Call us:
                <a [routerLink]="[]" class="ms-1 text-white font-medium">+123 555 66</a>
            </li>

            <li class="text-sm font-light flex items-center">
                <lucide-icon name="mail" class="me-2 size-3.5"></lucide-icon>
                Email:
                <a [routerLink]="[]" class="ms-1 text-white font-medium">example@gmail.com</a>
            </li>
        </ul>

        <ul class="flex items-center">
            <li class="text-sm text-white me-2">Follow us on: </li>
            <li class="me-2"> <a [routerLink]="[]"><lucide-icon name="facebook" class="size-4.5 text-white"></lucide-icon></a> </li>
            <li class="me-2"> <a [routerLink]="[]"><lucide-icon name="instagram" class="size-4.5 text-white"></lucide-icon></a> </li>
            <li class="me-2"> <a [routerLink]="[]"><iconify-icon icon="tabler:brand-x" class="size-4.5 mt-2 text-white"></iconify-icon></a> </li>
            <li class="me-2"> <a [routerLink]="[]"><lucide-icon name="linkedin" class="size-4.5 text-white"></lucide-icon></a> </li>
        </ul>
    </div>
</div>