  <section class="lg:pt-32 lg:pb-36 py-20 relative overflow-hidden">
        <div class="bg-[linear-gradient(180deg,#543DE7_0%,#7F39F8_100%)] blur-[144px] h-75 w-full opacity-20 absolute top-0 start-1/2 -translate-x-1/2 -mt-24"></div>

        <div class="container">
            <div class="pt-7.5 lg:pb-32 pb-20">
                <nav class="mb-4 pb-2 flex" aria-label="breadcrumb">
                    <ol class="flex items-center space-x-2 text-2xs text-default-600">
                        <li>
                            <a routerLink="/" class="hover:text-primary font-medium">
                                Home
                            </a>
                        </li>

                        <li class="flex items-center">
                            <span class="px-2 text-default-400">/</span>
                            <span class="font-medium text-primary" aria-current="page">
                                Pricing - v1
                            </span>
                        </li>
                    </ol>
                </nav>

                <h3 class="mb-2 lg:text-4xl md:text-3.5xl text-2.5xl">Pricing Plan For</h3>
                <h1 class="font-bold mb-7.5 lg:text-6xl md:text-4.5xl text-4xl">Every <span class="text-primary-grad">Business</span> Needs</h1>

                <form action="" class="bg-body-bg border border-primary/20 shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] md:py-4 md:px-7.5 p-4 inline-flex items-center rounded-md">
                    <span class="font-semibold text-default-900">Monthly</span>
                    <div class="flex justify-center items-center mx-2 border border-default-300 dark:border-white/14 rounded-full">
                        <label for="toggle-count" class="relative inline-block w-14 h-7 cursor-pointer">
                            <input type="checkbox" id="toggle-count" class="peer sr-only">
                            <span class="absolute inset-0 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-primary-checked peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>
                            <span class="absolute top-1/2 start-1 -translate-y-1/2 size-5.5 bg-default-300 rounded-full shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full"></span>
                        </label>
                    </div>
                    <span class="font-semibold text-default-900">Yearly</span>
                    <span class="rounded py-1 px-2 text-xs bg-success text-white ms-2">20% save</span>
                </form>
            </div>
        </div>

        <div class="max-w-387.5 mx-auto px-4">
            <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-7.5 items-start">
                <div class="p-1 overflow-hidden bg-body-bg shadow-2xl rounded-lg">
                    <div class="pt-7.5 px-7.5 bg-secondary/50 rounded-t-lg">
                        <div class="size-14 flex justify-center items-center bg-body-bg shadow-[0_0.18rem_0.25rem_rgba(127,57,248,0.2)] rounded-full mb-4">
                            <lucide-icon name="zap" class="size-5 fill-default-900"></lucide-icon>
                        </div>
                        <h6 class="mb-4 md:text-2.2xl text-xl">Basic plan</h6>
                        <p> <span class="text-3xl md:text-4xl lg:text-4.5xl font-semibold text-default-900" data-hs-toggle-count='{"target": "#toggle-count","min": 25,"max": 20}'>$25</span> /month</p>
                        <small class="text-sm">Basic feature for up to 10 users</small>
                        <a [routerLink]="[]" class="text-white inline-flex justify-center mb-2 rounded-md bg-dark py-3.5 px-7.5 font-medium w-full mt-7.5 hover:-translate-y-1 transition-transform duration-300">Get started</a>
                    </div>

                    <div class="p-7.5 bg-secondary/50 rounded-b-lg">
                        <ul class="mb-4 space-y-3 text-default-800 text-center font-medium">
                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Up to 05 users monthly
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Free 5 host domain
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Google docs style editors
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Support for 30+ languages
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="p-1 overflow-hidden bg-body-bg shadow-2xl rounded-lg">
                    <div class="pt-7.5 px-7.5 bg-secondary/50 rounded-t-lg">
                        <div class="size-14 flex justify-center items-center bg-body-bg shadow-[0_0.18rem_0.25rem_rgba(127,57,248,0.2)] rounded-full mb-4">
                            <lucide-icon name="send" class="size-5 fill-default-900"></lucide-icon>
                        </div>

                        <h6 class="mb-4 md:text-2.2xl text-xl">Standard plan</h6>
                        <p> <span class="text-3xl md:text-4xl lg:text-4.5xl font-semibold text-default-900" data-hs-toggle-count='{"target": "#toggle-count","min": 59,"max": 45}'>$59</span> /month</p>

                        <small class="text-sm">Basic feature for up to 50 users </small>

                        <a [routerLink]="[]" class="text-white inline-flex justify-center mb-2 rounded-md bg-dark py-3.5 px-7.5 font-medium w-full mt-7.5 hover:-translate-y-1 transition-transform duration-300">Get started</a>
                    </div>

                    <div class="p-7.5 bg-secondary/50 rounded-b-lg">
                        <ul class="mb-4 space-y-3 text-default-800 text-center font-medium">
                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Up to 20 users monthly
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Free 12 host domain
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Google docs style editors
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Support for 30+ languages
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Landing pages Web widgets
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Customizable features
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="p-1 bg-body-bg shadow-2xl rounded-lg relative">
                    <div class="text-white bg-primary-grad rounded absolute top-0 start-1/2 -translate-x-1/2 -translate-y-1/2 px-4 py-1">Recommended</div>
                    <div class="pt-7.5 px-7.5 bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)] rounded-t-lg">
                        <div class="size-14 flex justify-center items-center bg-pink shadow-[0_0.18rem_0.25rem_rgba(127,57,248,0.2)] rounded-full mb-4">
                            <lucide-icon name="rocket" class="size-5 fill-white text-white"></lucide-icon>
                        </div>

                        <h6 class="mb-4 md:text-2.2xl text-xl">Enterprise plan</h6>
                        <p> <span class="text-3xl md:text-4xl lg:text-4.5xl font-semibold text-default-900" data-hs-toggle-count='{"target": "#toggle-count","min": 99,"max": 75}'>$99</span> /month</p>

                        <small class="text-sm">Basic feature for up to 80 users </small>

                        <a [routerLink]="[]" class="rounded-md font-medium w-full justify-center bg-white border border-white text-dark shadow-[0_0.18rem_0.25rem_rgba(127,57,248,0.2)] py-3.5 px-7.5 hover:bg-white hover:border-white hover:text-dark hover:shadow-[0_0.3rem_0.25rem_rgba(127,57,248,0.3)] inline-flex mb-2 mt-7.5 transition-all duration-300 hover:-translate-y-1">Get started</a>
                    </div>

                    <div class="p-7.5 bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)] rounded-b-lg">
                        <ul class="mb-4 space-y-3 text-default-800 text-center font-medium">
                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Up to 50 users monthly
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Free 25 host domain
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Google docs style editors
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Support for 30+ languages
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Landing pages Web widgets
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Customizable features
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                24/7 dedicated Support
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="p-1 overflow-hidden bg-body-bg shadow-2xl rounded-lg relative">
                    <div class="pt-7.5 px-7.5 bg-secondary/50 rounded-t-lg">
                        <div class="absolute top-0 end-0 -mt-32 -me-12">
                            <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[32px] opacity-20 h-75" alt="Grad shape">
                        </div>
                        <div class="size-14 flex justify-center items-center bg-body-bg shadow-[0_0.18rem_0.25rem_rgba(127,57,248,0.2)] rounded-full mb-4">
                            <lucide-icon name="headset" class="size-5 fill-default-900"></lucide-icon>
                        </div>

                        <h6 class="mb-4 md:text-2.2xl text-xl">Business plan</h6>
                        <h2 class="mb-2 lg:text-4.5xl md:text-4xl text-3xl">Custom</h2>
                        <small class="text-sm">Customize feature according to users </small>
                        <a [routerLink]="[]" class="text-white inline-flex justify-center mb-2 rounded-md bg-dark py-3.5 px-7.5 font-medium w-full mt-7.5 hover:-translate-y-1 transition-transform duration-300">Request pricing</a>
                    </div>

                    <div class="p-7.5 bg-secondary/50 rounded-b-lg">
                        <ul class="mb-4 space-y-3 text-default-800 text-center font-medium">
                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Unlimited projects
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Custom reporting and analytics
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Dedicated account manager
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Tailored support and consulting
                            </li>

                            <li class="flex items-center">
                                <lucide-icon name="check" class="text-primary me-1 size-4"></lucide-icon>
                                Customizable features
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>