<section class="lg:pt-32 lg:pb-24 py-20 relative overflow-hidden">
        <div class="container">
            <div class="pt-12 max-w-225 mx-auto text-center">
                <h1 class="mb-7.5 lg:text-6xl md:text-4.5xl text-4xl">Elevate Your Performance with Integrations</h1>
                <p class="mb-4">Effortlessly connect to top platforms for CRM, marketing, payments, and more. Enhance workflows, automate tasks, and drive growth with ease.</p>
            </div>

            <!-- Image -->
            <div class="relative h-50 md:h-75 lg:h-100 bg-[url('assets/images/elements/integration.png')] bg-center bg-cover">
                <!-- Main logo -->
                <div class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 transform">
                    <div class="text-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] bg-body-bg rounded-full shrink-0 size-24 flex justify-center items-center leading-24">
                        <img src="assets/images/logo-icon.svg" class="h-12.5" alt="integration icon">
                    </div>
                </div>
            </div>
        </div>
    </section>