<button
  (click)="scrollToTop()"
  class="fixed lg:bottom-10 lg:end-10 bottom-5 end-5 z-50 md:size-14 size-7.5 flex items-center justify-center rounded bg-primary hover:bg-primary-hover text-white transition-all duration-500 ease-out"
  
  [class.opacity-0]="!isVisible"
  [class.translate-y-14]="!isVisible"
  [class.pointer-events-none]="!isVisible"

  [class.opacity-100]="isVisible"
  [class.translate-y-0]="isVisible"
>
  <lucide-icon name="move-up" class="md:size-6 size-3"></lucide-icon>
</button>
