<section class="lg:pb-36 pb-20">
  <div class="container">
    <div class="grid md:grid-cols-3 grid-cols-1 gap-7.5">
      <div class="col-span-1">
        <h2 class="mb-4 lg:text-4.5xl md:text-4xl text-3xl">Frequently Asked Questions</h2>
        <p>
          Our team is ready to assist you! Start a chat for quick support.
          <a [routerLink]="[]" class="font-semibold hover-underline text-primary">Talk to Us</a>
        </p>
      </div>

      <div class="md:col-span-2 ms-auto lg:w-180 md:w-100">
        <!-- Accordion Group -->
        <div class="hs-accordion-group">
          @for (item of faqData; track $index) {
            <div
              class="hs-accordion mb-4 pb-4 border-b border-default-200 dark:border-white/14"
              [class.active]="item.isOpen"
              [id]="item.id"
            >
              <button
                class="hs-accordion-toggle w-full font-semibold text-start text-xl text-default-700 focus:outline-hidden focus:text-muted-foreground-1 rounded-lg flex items-center disabled:opacity-50 disabled:pointer-events-none"
                [attr.aria-expanded]="item.isOpen"
                [attr.aria-controls]="'collapse-' + item.id"
              >
                {{ item.question }}

                <lucide-icon
                  name="minus"
                  class="hs-accordion-active:block hidden size-4 ms-auto"
                ></lucide-icon>

                <lucide-icon
                  name="plus"
                  class="hs-accordion-active:hidden block size-4 ms-auto"
                ></lucide-icon>
              </button>

              <div
                class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                [class.hidden]="!item.isOpen"
                role="region"
                [attr.id]="'collapse-' + item.id"
                [attr.aria-labelledby]="item.id"
              >
                <p class="pt-2 font-medium">
                  {{ item.answer }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
