<section class="lg:pb-36 pb-20">
    <div class="container">
        <div class="lg:pt-24 pt-18">
            <div class="grid lg:grid-cols-3 grid-cols-1 md:gap-7.5">
                <div class="col-span-2">
                    <h4 class="mb-7.5 lg:text-3.5xl md:text-2.5xl text-2xl">Today's top highlights</h4>
                    @for (blog of blogCardsData; track $index) {
                    <article class="bg-secondary/50 rounded-md hover:-translate-y-0.75 transition-all duration-300 group p-4 mb-7.5">
                        <div class="grid md:grid-cols-3 grid-cols-1 md:gap-7.5 items-center">
                            <div class="col-span-1">
                                <!-- Image -->
                                <img [src]="blog.image" class="rounded-md" alt="blog-img">
                            </div>
                            <div class="md:col-span-2 h-full">
                                <!-- Content -->
                                <div class="flex flex-col h-full justify-between ps-0 pe-4 py-5">
                                    <div>
                                        <!-- Badge -->
                                        <div class="flex gap-2 mb-4">
                                            <span class="text-xs rounded py-1 px-2" [class]="blog.categoryClass">{{ blog.category }}</span>
                                            <span class="bg-white text-dark text-xs rounded py-1 px-2">{{ blog.readTime }}</span>
                                        </div>
                                        <!-- Title -->
                                        <h6 class="md:text-2.2xl text-xl mb-4 md:mb-0">{{ blog.title }}</h6>
                                    </div>
                                    <!-- Author name and button -->
                                    <div class="sm:flex justify-between items-center mt-auto">
                                        <p class="mb-7.5 sm:mb-2 text-default-900 font-semibold">By {{ blog.author }}</p>
                                        <a class="inline-flex items-center gap-1 text-primary"  [routerLink]="blog.link">Read more<lucide-icon name="arrow-right" class="size-4 group-hover:translate-x-1 transition-all duration-300 text-primary"></lucide-icon> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    }
                    <div class="text-center">
                        <button type="button" class="bg-secondary text-default-900 inline-flex items-center py-2.5 px-5 rounded mb-1.5 font-medium text-2xs hover:bg-primary/20">Load more post <lucide-icon name="circle-arrow-down" class="ms-2 size-4 align-middle"></lucide-icon></button>
                    </div>
                </div>

                <div class="lg:w-73.25 lg:ms-auto lg:block grid md:grid-cols-2 grid-cols-1 lg:gap-0 md:gap-7.5 gap-0">
                    <div>
                        <div class="border-b border-default-200 dark:border-white/14 bg-transparent py-5">
                            <p class="text-xl font-semibold text-default-900 mb-0">Categories</p>
                        </div>

                        <div class="py-5">
                            <ul class="flex flex-col gap-1">
                                @for (topic of topicData; track $index) {
                                <li [class.mb-1]="!$last" [class.nav-item]="$last">
                                    <a [routerLink]="[]" class="hover:text-primary py-1">
                                        {{ topic.name }}
                                        <span class="font-normal opacity-60 ms-1">({{ topic.count }})</span>
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="border-b border-default-200 dark:border-white/14 bg-transparent py-5">
                            <p class="text-xl font-semibold text-default-900 mb-0">Follow us on</p>
                        </div>

                        <div class="py-5">
                            <ul class="flex gap-3">
                                @for (social of socialMediaData; track $index) {
                                <li>
                                    <a class="size-10 flex justify-center items-center rounded" [class]="social.bgColor" [routerLink]="social.link || ''">
                                        @if (social.iconType === 'lucide') {
                                        <lucide-icon [name]="social.icon" class="size-5 text-white"></lucide-icon>
                                        } @else {
                                        <iconify-icon [icon]="social.icon" class="text-white" height="20" width="20"></iconify-icon>
                                        }
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="border-b border-default-200 dark:border-white/14 bg-transparent py-5">
                            <p class="text-xl font-semibold text-default-900 mb-0">Popular Tags</p>
                        </div>

                        <div class="flex flex-wrap gap-2 py-5">
                            @for (category of categoriesData; track category.name) {
                            <a class="py-1.5 px-2.25 rounded text-md bg-secondary hover:bg-primary/20 font-semibold" [routerLink]="category.link || ''">{{ category.name }}</a>
                            }
                        </div>
                    </div>

                    <div>
                        <!-- Adv START -->
                        <div class="rounded-2xl overflow-hidden mt-4 relative">
                            <!-- Image -->
                            <img src="assets/images/blog/adv.jpg" class="rounded-2xl" alt="Adv image">

                            <!-- Title and button -->
                            <div class="absolute inset-0 z-10 flex flex-col items-center text-center pt-12 mx-auto">
                                <h6 class="text-white mb-4 md:text-2.2xl text-xl">New Smart earbuds</h6>
                                <a [routerLink]="[]" class="py-2.5 px-5 rounded bg-dark text-white text-2xs">Shop now</a>
                            </div>
                        </div>
                        <!-- Adv END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>