 <section class="lg:py-0 py-12">
        <!-- Blur decoration -->
        <div class="absolute top-0 start-0 -mt-44 -ms-12">
            <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-2xl opacity-20" alt="Grad shape">
        </div>

        <!-- Blur decoration -->
        <div class="absolute top-0 end-0 -mt-44">
            <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="blur-[144px] opacity-20" alt="Grad shape">
        </div>

        <div class="container">
            <div class="grid md:grid-cols-2 grid-cols-1 gap-7.5 items-center">
                <div>
                    <img src="assets/images/elements/coming-soon.png" alt="coming soon image">
                </div>

                <div class="lg:w-lg ms-auto">
                    <h1 class="font-bold lg:text-6xl md:text-4.5xl text-4xl mb-2">Cooking Up Something <span class="text-primary-grad">Great</span></h1>
                    <p>We are going to launch our website very soon, Stay tune.</p>

                    <div class="mt-12">
                        <b class="text-default-600">Notify me when the website is launched</b>
                        <div class="mt-2 rounded-md bg-white p-1 shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)]">
                            <!-- Input subscribe -->
                            <div class="flex items-center">
                                <input type="email" placeholder="Enter your email" class="flex-1 border-0 bg-transparent px-7.5 py-3.5 me-1 placeholder:text-default-400 focus:outline-none lg:w-full w-10" />
                                <button type="button" class="rounded-md bg-dark px-7.5 py-3.5 font-medium text-white">
                                    Notify Me!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>