<section class="lg:pb-36 md:pb-20 relative overflow-hidden">
        <div class="bg-dark relative md:py-44 py-20">
            <div class="relative overflow-hidden">
                <div class="absolute end-0 top-0">
                    <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-10 blur-[80px] h-75 rotate-335" alt="Grad shape">
                </div>
            </div>

            <div class="container">
                <div class="pb-24 relative">
                    <div class="max-w-225 mx-auto">
                        <h1 class="text-center lg:text-6xl md:text-4.5xl text-4xl text-white">Rapidly Develop an <span class="text-purple">AI Chatbot</span> Using Your Expertise</h1>

                        <ul class="flex justify-center flex-wrap gap-2 md:gap-7.5 mb-0 mt-7.5 lg:mt-12 text-white/80">
                            <li class="flex items-center"> <lucide-icon name="cloud" class="fill-pink size-5 text-pink me-2"></lucide-icon>Cloud hosting</li>
                            <li class="flex items-center"> <lucide-icon name="message-square-more" class="fill-success size-5 text-success me-2"></lucide-icon>Team collaboration</li>
                            <li class="flex items-center"> <lucide-icon name="lightbulb" class="fill-warning size-5 text-warning me-2"></lucide-icon>Fully adaptable</li>
                            <li class="flex items-center"> <lucide-icon name="database" class="text-info me-1"></lucide-icon>Unify your data</li>
                        </ul>

                        <div class="flex justify-center flex-wrap gap-4 mt-7.5 lg:mt-12">
                            <a [routerLink]="[]" class="bg-primary text-white py-3.5 px-7.5 rounded-md group hover:bg-primary-hover font-medium inline-flex items-center gap-1">Start building now <lucide-icon name="arrow-right" class="group-hover:translate-x-1 size-4 transition-all duration-300"></lucide-icon></a>
                            <a [routerLink]="[]" class="text-dark bg-white py-3.5 px-7.5 rounded-md font-medium inline-flex">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="-mt-24 sm:-mt-44">
                <div class="bg-body-bg/10 backdrop-blur-[5px] border border-white/10 relative rounded-2xl shadow-[0_0.3rem_0.7rem_rgba(127,57,248,0.2)] p-2 md:p-7.5">
                    <span class="hidden md:block my-5">
                        <svg class="-mt-7.5" width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="text-success" d="M10 5C10 7.76142 7.76142 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5Z" fill="currentColor"></path>
                            <path class="text-warning" d="M25 5C25 7.76142 22.7614 10 20 10C17.2386 10 15 7.76142 15 5C15 2.23858 17.2386 0 20 0C22.7614 0 25 2.23858 25 5Z" fill="currentColor"></path>
                            <path class="text-danger" d="M40 5C40 7.76142 37.7614 10 35 10C32.2386 10 30 7.76142 30 5C30 2.23858 32.2386 0 35 0C37.7614 0 40 2.23858 40 5Z" fill="currentColor"></path>
                        </svg>
                    </span>

                    <!-- Images -->
                    <img src="assets/images/bg/chat-boat.jpg" class="rounded-2xl shadow-sm" alt="chatbot image">
                    <!-- Decoration image -->
                    <img src="assets/images/elements/chat-heart.png" class="absolute top-0 start-0 ms-32 -mt-7.5 hidden md:block" alt="">
                </div>
            </div>
        </div>
    </section>