<!-- Call to action -->
<section class="lg:py-36 py-20 relative overflow-hidden">
    <div class="bg-dark h-125 w-full absolute top-0 start-0">
        <!-- Blur shape -->
        <div class="absolute top-0 start-0 -translate-x-1/2 -translate-y-1/2">
            <img src="/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-10 blur-[80px]" alt="Grad shape">
        </div>

        <!-- skewed divider -->
        <span class="absolute start-0 bottom-0">
            <svg class="fill-body-bg" width="1920" height="99" viewBox="0 0 1920 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 93L1946 0V99H0V93Z"></path>
            </svg>
        </span>
    </div>

    <div class="container relative z-50">
        <div class="grid md:grid-cols-2 grid-cols-1 gap-7.5 md:mb-18 mb-7.5">
            <h2 class="text-white lg:text-4.5xl text-3xl md:text-4xl">Mastering every step of our methodology</h2>
        </div>

        <!-- Video section -->
        <div class="relative h-100 xl:h-125 rounded-2xl overflow-hidden bg-[url('/images/about/05.jpg')] bg-cover bg-center bg-no-repeat">

            <!-- BG overlay -->
            <div class="absolute inset-0 bg-purple/10"></div>

            <!-- Play button -->
            <div class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 z-20">
                <a href="https://www.youtube.com/embed/tXHviS-4ygo" class="flex size-14 items-center justify-center rounded-full bg-white hover:bg-white/90 shadow-lg">
                    <lucide-icon name="play" class="size-4 fill-dark"></lucide-icon>
                </a>
            </div>
        </div>

        <div class="mt-12">
            <div class="max-w-150 mx-auto">
                <div class="bg-body-bg lg:text-end rounded-xl shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] relative px-4 md:px-18 py-4">
                    <p class="text-default-600 font-medium md:ms-18 xl:ms-0">🚀 Need any help or questions, don't worry!
                        <a href="contact-us-v2.html" class="font-semibold hover-underline text-default-900">Hit the button</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>