<section class="lg:pb-36 pb-20">
        <div class="container">
            <div class="lg:w-5/6 mx-auto">
                <div class="mb-18 grid md:grid-cols-2 grid-cols-1 gap-7.5 items-center">
                    <div class="md:pe-12">
                        <div class="bg-linear-to-r from-[rgba(240,150,255,0.15)] via-[rgba(191,200,252,0.15)] to-[rgba(187,148,255,0.15)] rounded-2xl">
                            <div class="bg-secondary-grad p-7.5 rounded-2xl">
                                <img src="assets/images/elements/saas-decoration/tab-3.png" alt="tab image">
                            </div>
                        </div>
                    </div>

                    <div>
                        <h4 class="md:mb-7.5 lg:text-3.5xl md:text-2.5xl text-2xl">Comprehensive data analysis</h4>
                        <p>Dive deep into your business data with our advanced analytics tools. Identify trends, uncover hidden opportunities, and make informed decisions based on comprehensive data analysis.</p>
                    </div>
                </div>

                <div class="mb-18 grid md:grid-cols-2 grid-cols-1 gap-7.5 items-center">
                    <div>
                        <h4 class="md:mb-7.5 lg:text-3.5xl md:text-2.5xl text-2xl">Real-time data access</h4>
                        <p>Stay ahead of the curve with real-time reporting. Our analytics feature provides you with immediate access to the latest data, enabling you to monitor performance and make quick adjustments.</p>
                    </div>

                    <div class="md:ps-12">
                        <div class="bg-secondary rounded-2xl">
                            <div class="bg-secondary-grad p-7.5 rounded-2xl">
                                <img src="assets/images/elements/saas-decoration/tab-2.png" alt="tab image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid md:grid-cols-2 grid-cols-1 gap-7.5 items-center">
                    <div class="md:pe-12">
                        <div class="bg-linear-to-r from-[rgba(240,150,255,0.15)] via-[rgba(191,200,252,0.15)] to-[rgba(187,148,255,0.15)] rounded-2xl">
                            <div class="bg-secondary-grad p-7.5 rounded-2xl">
                                <img src="assets/images/elements/saas-decoration/step-3.png" alt="tab image">
                            </div>
                        </div>
                    </div>

                    <div>
                        <h4 class="md:mb-7.5 lg:text-3.5xl md:text-2.5xl text-2xl">Customizable and interactive dashboards</h4>
                        <p>Tailor your analytics experience with fully customizable dashboards. Choose from a variety of widgets, charts, and graphs to create a personalized view of your key metrics.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>