<header>
    <div class="header-sticky navbar bg-transparent absolute transition-all top-0 inset-x-0 w-full z-60 duration-300 [.nav-sticky]:bg-light [.nav-sticky]:shadow" [class.header-sticky-on]="isSticky">
        <div class="container">
            <div class="flex items-center justify-between">
                <a routerLink="/" class="flex items-center lg:py-7.5 py-5">
                    <img src="assets/images/logo.svg" class="lg:h-10 h-7.5 block dark:hidden" />
                    <img src="assets/images/logo-light.svg" class="lg:h-10 h-7.5 hidden dark:block" />
                </a>

                <app-navbar />

                <div class="flex justify-end items-center gap-2">
                    <app-theme-dropdown />

                    <div class="p-1 bg-secondary rounded flex gap-1">
                        <a routerLink="/auth/sign-up" class="py-2.5 px-5 bg-secondary hover:bg-primary/20 rounded text-default-800 font-medium text-2xs transition-all md:inline-flex hidden">
                            Login
                        </a>

                        <a routerLink="/auth/sign-up" class="py-2.5 px-5 bg-primary-grad hover:bg-default-200 rounded text-default-800 font-medium text-2xs transition-all md:inline-flex hidden">
                            Sign up
                        </a>
                    </div>


                    <div class="flex items-center lg:hidden">
                        <button type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="mobileMenuOffcanvas" data-hs-overlay="#mobileMenuOffcanvas" class="size-10 border border-default-200 dark:border-white/14 rounded flex justify-center items-center md:ms-2">
                            <iconify-icon icon="tabler:align-right" class="text-default-800" width="28" height="28"></iconify-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mobileMenuOffcanvas" class="lg:hidden hs-overlay hs-overlay-open:translate-y-0 -translate-y-full fixed top-0 inset-x-0 overflow-hidden transition-all duration-300 transform h-86 z-90 bg-body-bg shadow-xl" role="dialog" tabindex="-1" aria-labelledby="mobileMenuOffcanvas-label">
        <div class="h-16 flex items-center justify-between px-4 border-b border-default-200 dark:border-white/14 sticky top-0">
            <div class="text-lg font-bold">
                <a href="index.html" class="flex items-center gap-2">
                    <img src="assets/images/logo.svg" class="h-9 block dark:hidden" />
                    <img src="assets/images/logo-light.svg" class="h-9 hidden dark:block" />
                </a>
            </div>

            <button type="button" class="bg-default-600/15 text-default-600 size-8 flex justify-center items-center rounded-full" aria-label="Close" data-hs-overlay="#mobileMenuOffcanvas">
                <span class="sr-only">Close</span>
                <i class="iconify tabler--x size-4"></i>
            </button>
        </div>

        <div class="flex flex-col gap-1 overflow-y-auto h-70">
            <div class="hs-accordion-group divide-y divide-default-200">
                <div class="hs-accordion">
                    <button class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-medium">
                        <span>Demos</span>
                        <i data-lucide="chevron-down" class="size-4"></i>
                    </button>

                    <div class="hs-accordion-content hidden w-full ooverflow-visible transition-[height] px-5 py-2">
                        <div class="border border-default-200  dark:border-white/14 origin-center bg-body-bg rounded-md p-3 w-full">
                            <div class="grid md:grid-cols-2 grid-cols-1">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index.html">
                                            Classic Default
                                        </a>
                                    </li>

                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-software-company.html">
                                            Software Company
                                        </a>
                                    </li>

                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-finance-consulting.html">
                                            Finance Consulting
                                        </a>
                                    </li>

                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-ai-agency.html">
                                            AI Agency
                                        </a>
                                    </li>

                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-product-landing.html">
                                            Product Landing
                                        </a>
                                    </li>
                                </ul>

                                <ul class="list-unstyled">
                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-saas.html">
                                            SaaS
                                        </a>
                                    </li>

                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-ai-chatbot.html">
                                            SaaS AI Chatbot
                                        </a>
                                    </li>

                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-application-showcase.html">
                                            Application Showcase
                                        </a>
                                    </li>

                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-personal-portfolio.html">
                                            Personal Portfolio
                                        </a>
                                    </li>

                                    <li>
                                        <a class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700" href="index-blog.html">
                                            Blog home
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hs-accordion" id="accordion-pages">
                    <button type="button" class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-medium">
                        Pages
                        <i data-lucide="chevron-down" class="size-4"></i>
                    </button>

                    <div class="hs-accordion-content hidden w-full overflow-visible transition-[height] px-5 py-2">
                        <div class="hs-accordion-group border border-default-200  dark:border-white/14 origin-center bg-body-bg rounded-md p-3 w-full flex flex-col gap-1">
                            <div class="hs-accordion" id="accordion-about">
                                <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                                    About
                                    <i data-lucide="chevron-down" class="size-4"></i>
                                </button>

                                <div class="hs-accordion-content hidden w-full overflow-visible transition-[height] border border-default-200  dark:border-white/14 origin-center bg-body-bg rounded-md p-3">
                                    <div class="flex flex-col gap-1">
                                        <a href="about-v1.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            About v.1
                                        </a>

                                        <a href="about-v2.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            About v.2
                                        </a>

                                        <a href="services-grid.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Services Grid
                                        </a>

                                        <a href="services-list.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Services List
                                        </a>

                                        <a href="service-single.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Service Single
                                        </a>

                                        <a href="team.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Team
                                        </a>

                                        <a href="career.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Career
                                        </a>

                                        <a href="career-single.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Career Single
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a href="contact-us-v1.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                    Contact Us v1
                                </a>
                            </div>

                            <div>
                                <a href="contact-us-v2.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                    Contact Us v2
                                </a>
                            </div>

                            <div>
                                <a href="pricing-v1.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                    Contact Us v1
                                </a>
                            </div>

                            <div>
                                <a href="pricing-v2.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                    Contact Us v2
                                </a>
                            </div>

                            <div class="hs-accordion" id="accordion-sass">
                                <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                                    Saas pages
                                    <i data-lucide="chevron-down" class="size-4"></i>
                                </button>

                                <div class="hs-accordion-content hidden w-full overflow-visible transition-[height] border border-default-200  dark:border-white/14 origin-center bg-body-bg rounded-md p-3">
                                    <div class="flex flex-col gap-1">
                                        <a href="feature-single.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Feature Single
                                        </a>

                                        <a href="integrations.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Integrations
                                        </a>

                                        <a href="integration-single.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Integrations Single
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="hs-accordion" id="accordion-shop">
                                <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                                    Portfolio
                                    <i data-lucide="chevron-down" class="size-4"></i>
                                </button>

                                <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200  dark:border-white/14 origin-center bg-body-bg rounded-md p-3">
                                    <div class="flex flex-col gap-1">
                                        <a href="portfolio-grid.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Portfolio Grid
                                        </a>

                                        <a href="portfolio-list.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Portfolio List
                                        </a>

                                        <a href="portfolio-modern.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Portfolio Modern
                                        </a>

                                        <a href="portfolio-case-study-v1.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Portfolio case study v1
                                        </a>

                                        <a href="portfolio-case-study-v2.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Portfolio case study v2
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="hs-accordion" id="accordion-blog">
                                <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                                    Blog
                                    <i data-lucide="chevron-down" class="size-4"></i>
                                </button>

                                <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200  dark:border-white/14 origin-center bg-body-bg rounded-md p-3">
                                    <div class="flex flex-col gap-1">
                                        <a href="blog-minimal.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Blog Minimal
                                        </a>

                                        <a href="blog-single.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Blog Single
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a href="error-404.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                    Error 404
                                </a>
                            </div>

                            <div>
                                <a href="coming-soon.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                    Coming soon
                                </a>
                            </div>

                            <div class="hs-accordion" id="accordion-Specialty">
                                <button type="button" class="hs-accordion-toggle text-sm font-semibold rounded-sm hover:text-primary hover:bg-primary/6 px-3 py-2.5 text-default-800 w-full flex items-center justify-between gap-2">
                                    Authentication
                                    <i data-lucide="chevron-down" class="size-4"></i>
                                </button>

                                <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] border border-default-200  dark:border-white/14 origin-center bg-body-bg rounded-md p-3">
                                    <div class="flex flex-col gap-1">
                                        <a href="sign-in.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Sign in
                                        </a>

                                        <a href="sign-up.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Sign up
                                        </a>

                                        <a href="forgot-password.html" class="block text-sm font-medium hover:text-primary px-4 py-1.5 text-default-700">
                                            Forgot Password
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hs-accordion">
                    <button class="hs-accordion-toggle text-default-800 w-full flex items-center justify-between gap-2 py-2.5 px-5 font-medium">
                        <span>Docs</span>
                        <i data-lucide="chevron-down" class="size-4"></i>
                    </button>

                    <div class="hs-accordion-content hidden w-full overflow-visible transition-[height] px-5 py-2">
                        <div class="border border-default-200 dark:border-white/14 origin-center bg-body-bg rounded-md p-1 w-full">
                            <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-4 pt-2">
                                <!-- Item -->
                                <a href="docs/index.html" target="_blank" class="group rounded-lg hover:bg-primary/5 p-4 flex items-center justify-between relative transition">
                                    <div class="flex items-start">
                                        <!-- Icon -->
                                        <div class="size-10.5 flex items-center justify-center rounded bg-primary/15 text-primary shrink-0">
                                            <i data-lucide="file-text" class="size-4"></i>
                                        </div>

                                        <!-- Content -->
                                        <div class="mx-4">
                                            <p class="font-semibold text-default-800 mb-0">Documentation</p>
                                            <p class="text-sm text-default-500">Using documentation you can easily develop projects</p>
                                        </div>
                                    </div>

                                    <!-- Arrow -->
                                    <span class="group-hover:translate-x-1 transition-all">
                                        <i data-lucide="chevron-right" class="size-4.5"></i>
                                    </span>
                                </a>

                                <!-- Item -->
                                <a href="index.html" target="_blank" class="group rounded-lg hover:bg-primary/5 p-4 flex items-center justify-between relative transition">
                                    <div class="flex items-start">
                                        <!-- Icon -->
                                        <div class="size-10.5 flex items-center justify-center rounded bg-pink-500/15 text-pink-500 shrink-0">
                                            <i data-lucide="files" class="size-4"></i>
                                        </div>

                                        <!-- Content -->
                                        <div class="mx-4">
                                            <p class="font-semibold text-default-800 mb-0">Snippets</p>
                                            <p class="text-sm text-default-500">Development guides for building projects with Folio</p>
                                        </div>
                                    </div>

                                    <!-- Arrow -->
                                    <span class="group-hover:translate-x-1 transition-all">
                                        <i data-lucide="chevron-right" class="size-4.5"></i>
                                    </span>
                                </a>

                                <!-- Item -->
                                <a href="index.html" target="_blank" class="group rounded-lg hover:bg-primary/5 p-4 flex items-center justify-between relative transition">
                                    <div class="flex items-start">
                                        <!-- Icon -->
                                        <div class="size-10.5 flex items-center justify-center rounded bg-success/15 text-success shrink-0">
                                            <i data-lucide="target" class="size-4"></i>
                                        </div>

                                        <!-- Content -->
                                        <div class="mx-4">
                                            <p class="font-semibold text-default-800 mb-0">Changelog</p>
                                            <p class="text-sm text-default-500">Recent feature release and announcement.</p>
                                        </div>
                                    </div>

                                    <!-- Arrow -->
                                    <span class="group-hover:translate-x-1 transition-all">
                                        <i data-lucide="chevron-right" class="size-4.5"></i>
                                    </span>
                                </a>

                                <!-- Item -->
                                <a href="index.html" target="_blank" class="group rounded-lg hover:bg-primary/5 p-4 flex items-center justify-between relative transition">
                                    <div class="flex items-start">
                                        <!-- Icon -->
                                        <div class="size-10.5 flex items-center justify-center rounded bg-warning/15 text-warning shrink-0">
                                            <i data-lucide="circle" class="size-4"></i>
                                        </div>

                                        <!-- Content -->
                                        <div class="mx-4">
                                            <p class="font-semibold text-default-800 mb-0">Playwright tips</p>
                                            <p class="text-sm text-default-500">Tips and In-depth guide for headless browser automation</p>
                                        </div>
                                    </div>

                                    <!-- Arrow -->
                                    <span class="group-hover:translate-x-1 transition-all">
                                        <i data-lucide="chevron-right" class="size-4.5"></i>
                                    </span>
                                </a>

                                <!-- Item -->
                                <a href="integrations.html" target="_blank" class="group rounded-lg hover:bg-primary/5 p-4 flex items-center justify-between relative transition">
                                    <div class="flex items-start">
                                        <!-- Icon -->
                                        <div class="size-10.5 flex items-center justify-center rounded bg-info/15 text-info shrink-0">
                                            <i data-lucide="layout-grid" class="size-4"></i>
                                        </div>

                                        <!-- Content -->
                                        <div class="mx-4">
                                            <p class="font-semibold text-default-800 mb-0">Integrations</p>
                                            <p class="text-sm text-default-500">Taking advantage of integrations with other services.</p>
                                        </div>
                                    </div>

                                    <!-- Arrow -->
                                    <span class="group-hover:translate-x-1 transition-all">
                                        <i data-lucide="chevron-right" class="size-4.5"></i>
                                    </span>
                                </a>

                                <!-- Item -->
                                <a href="index.html" target="_blank" class="group rounded-lg hover:bg-primary/5 p-4 flex items-center justify-between relative transition">
                                    <div class="flex items-start">
                                        <!-- Icon -->
                                        <div class="size-10.5 flex items-center justify-center rounded bg-primary/15 text-primary shrink-0">
                                            <i data-lucide="message-circle-more" class="size-4"></i>
                                        </div>

                                        <!-- Content -->
                                        <div class="mx-4">
                                            <p class="font-semibold text-default-800 mb-0">Supports</p>
                                            <p class="text-sm text-default-500">Need help? Our customers support is there to help you.</p>
                                        </div>
                                    </div>

                                    <!-- Arrow -->
                                    <span class="group-hover:translate-x-1 transition-all">
                                        <i data-lucide="chevron-right" class="size-4.5"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a href="contact-us-v1.html" class="flex items-center py-2.5 px-5 text-default-800 hover:text-primary font-medium">
                        Contact us
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>