<section class="lg:pb-36 pb-20 bg-secondary relative">
  <div class="absolute bottom-0 end-0 -ms-12 -mb-32 hidden lg:block z-20">
    <img src="assets/images/elements/grad-shape/02.png" class="h-50" alt="Shape" />
  </div>

  <div class="container">
    <div class="max-w-150 mx-auto text-center mb-12">
      <h2 class="lg:text-4.5xl md:text-4xl text-3xl">What we offer</h2>
    </div>

    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:gap-12 gap-7.5">
      @for (item of serviceData; track item.title) {
        <a
          [routerLink]="item.link"
          class="bg-body-bg p-7.5 rounded-2xl group hover:shadow-[0_10px_20px_rgba(127,57,248,0.15)] hover:-translate-y-0.75 transition-all duration-300"
        >
          <div class="bg-transparent mb-32">
            <!-- Icon -->
            <div
              class="size-14 flex justify-center items-center text-white rounded-full"
              [class]="item.iconBgColor"
            >
              <div [innerHTML]="item.safeIcon"></div>
            </div>
          </div>

          <h6 class="md:text-2.2xl text-xl mb-2">
            {{ item.title }}
          </h6>

          <button class="group flex items-center gap-1.5">
            <span class="text-primary-grad">Read more</span>
            <lucide-icon
              name="arrow-right"
              class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"
            ></lucide-icon>
          </button>
        </a>
      }
    </div>

    <div class="max-w-150 mx-auto bg-primary-grad rounded-xl text-center py-4 mt-12">
      <p class="text-white px-2 sm:px-7.5 md:px-0">
        ✌️ Ready to elevate your digital presence?
        <a routerLink="/contact-us/v1" class="font-semibold hover-underline text-white"
          >Hire us now</a
        >
      </p>
    </div>
  </div>
</section>
