<section class="relative lg:pt-44 md:pt-32 pt-20 pb-7.5">
    <div class="absolute top-0 end-0 z-20 hidden md:block rtl-flip">
        <img src="assets/images/elements/grad-shape/07.png" alt="">
    </div>
    <div class="container">
        <div class="pt-7.5 md:w-3/4">
            <p class="inline-block rounded bg-secondary px-4 py-2 mb-4 text-default-900">
                <span class="me-2 inline-flex items-center rounded bg-black px-2 py-0.5 text-xs text-white">
                    New
                </span>
                Maximize productivity with next-generation software
            </p>

            <h1 class="lg:text-[68px] md:text-[52px] text-4xl font-semibold mb-7.5 leading-normal">Creating software solutions for your
                <span class="text-primary inline-flex">
                    <ngx-typed-js [strings]="['business', 'agency', 'startup']" [typeSpeed]="50" [backSpeed]="30" [loop]="true">
                        <span class="typing"></span>
                    </ngx-typed-js>
                </span>
            </h1>

            <div class="flex gap-4 md:gap-7.5 flex-wrap">
                <!-- Button -->
                <a routerLink="/portfolio/modern" class="py-3.5 px-7.5 rounded-md font-medium bg-primary-grad mb-1.5">Explore our work</a>

                <!-- Info -->
                <div class="flex gap-2 items-center">
                    <ul class="flex mb-0 items-center">
                        @for (item of avatarData; track $index) {
                        <li [class]="'-ms-3'" [class.-ms-3]="!$first">
                            <img class="size-12 rounded-full" [src]="item.src" [alt]="item.alt">
                        </li>
                        }
                    </ul>
                    <p class="text-default-900 font-medium">15K+ happy clients</p>
                </div>
            </div>
        </div>
    </div>
</section>