<footer>
        <div class="container">
            <div class="md:flex justify-between items-center text-center lg:text-start pb-4 md:pb-0">
                <!-- copyright text -->
                <div class="mb-4 md:mb-0 text-default-700"> Copyrights ©2024 Folio. Build by
                    <a href="https://stackbros.in/" class="text-body-bg hover:text-primary">StackBros</a>.
                </div>

                <!-- Language selector -->
                <div class="flex gap-3 mb-2 md:justify-start justify-center">
                    <a [routerLink]="[]" class="size-8 rounded flex justify-center items-center bg-[#5d82d1]">
                        <iconify-icon icon="tabler:brand-facebook" class=" text-white size-4"></iconify-icon>
                    </a>

                    <a [routerLink]="[]" class="size-8 rounded flex justify-center items-center bg-pink">
                        <iconify-icon icon="lucide:instagram" class=" text-white size-4"></iconify-icon>
                    </a>

                    <a [routerLink]="[]" class="size-8 rounded flex justify-center items-center bg-dark">
                        <iconify-icon icon="tabler:brand-x" class=" text-white size-4"></iconify-icon>
                    </a>

                    <a [routerLink]="[]" class="size-8 rounded flex justify-center items-center bg-info">
                        <iconify-icon icon="lucide:linkedin" class=" text-white size-4"></iconify-icon>
                    </a>
                </div>
            </div>
        </div>
    </footer>