 <section class="lg:py-36 py-20">
        <div class="container">
            <div class="md:flex justify-between items-center text-center sm:text-start mb-7.5 md:mb-12">
                <h2 class="mb-4 md:mb-0 lg:text-4.5xl md:text-4xl text-3xl">Our latest projects</h2>
                <a href="portfolio-list.html" class="py-3.5 px-7.5 rounded-md bg-primary-grad inline-flex font-medium">Explore portfolio</a>
            </div>

            <div class="grid md:grid-cols-12 grid-cols-1 gap-7.5">
                <div class="md:col-span-7 group relative">
                    <a href="portfolio-case-study-v1.html">
                        <img src="assets/images/portfolio/01.jpg" class="rounded-2xl" alt="portfolio-img">
                        <div class="absolute bottom-0 end-0 start-0 rounded-b-2xl bg-white/10 group-hover:opacity-100 z-90 opacity-0 backdrop-blur-sm p-10 transition-all duration-300">
                            <div class="mt-auto">
                                <span class="text-white">Technology</span>
                                <h6 class="mt-2 lg:text-2.2xl text-xl"><a href="portfolio-case-study-v1.html" class="text-white stretched-link">Brand Identity Development</a></h6>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="md:col-span-5 group relative">
                    <a href="portfolio-case-study-v1.html">
                        <img src="assets/images/portfolio/02.jpg" class="rounded-2xl" alt="portfolio-img">
                        <div class="absolute bottom-0 end-0 start-0 rounded-b-2xl bg-white/10 group-hover:opacity-100 z-90 opacity-0 backdrop-blur-sm p-10 transition-all duration-300">
                            <div class="mt-auto">
                                <span class="text-white">Technology</span>
                                <h6 class="mt-2 lg:text-2.2xl text-xl"><a href="portfolio-case-study-v1.html" class="text-white stretched-link">E-commerce platform launch</a></h6>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="md:col-span-5 group relative">
                    <a href="portfolio-case-study-v1.html">
                        <img src="assets/images/portfolio/03.jpg" class="rounded-2xl" alt="portfolio-img">
                        <div class="absolute bottom-0 end-0 start-0 rounded-b-2xl bg-white/10 group-hover:opacity-100 z-90 opacity-0 backdrop-blur-sm p-10 transition-all duration-300">
                            <div class="mt-auto">
                                <span class="text-white">Technology</span>
                                <h6 class="mt-2 lg:text-2.2xl text-xl"><a href="portfolio-case-study-v1.html" class="text-white stretched-link">Mobile app development</a></h6>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="md:col-span-7 group relative">
                    <a href="portfolio-case-study-v1.html">
                        <img src="assets/images/portfolio/04.jpg" class="rounded-2xl" alt="portfolio-img">
                        <div class="absolute bottom-0 end-0 start-0 rounded-b-2xl bg-white/10 group-hover:opacity-100 z-90 opacity-0 backdrop-blur-sm p-10 transition-all duration-300">
                            <div class="mt-auto">
                                <span class="text-white">Technology</span>
                                <h6 class="mt-2 lg:text-2.2xl text-xl"><a href="portfolio-case-study-v1.html" class="text-white stretched-link">Digital marketing overhaul</a></h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="mt-18">
                <div class="max-w-3xl mx-auto">
                    <div class="bg-body-bg lg:text-end rounded-xl shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] relative px-4 sm:px-18 py-4">
                        <!-- Shape decoration -->
                        <div class="absolute top-0 start-0 -mt-12 -ms-7.5 hidden sm:block">
                            <img src="assets/images/elements/grad-shape/03.png" class="zoom-animate" alt="Shape">
                        </div>

                        <p class="text-default-900 font-semibold sm:ms-18 xl:ms-0">Embark on your project journey! partner with us today
                            <a href="contact-us-v2.html" class="font-semibold hover-underline text-primary">Join today</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
