<section class="lg:pb-36 pb-20">
  <div class="container">
    <div class="md:w-150 text-center mb-7.5 lg:mb-12 mx-auto">
      <h2 class="lg:text-4.5xl md:text-4xl text-3xl">Choose the plan that fits your needs</h2>
    </div>

    <div class="grid lg:grid-cols-3 gap-7.5 lg:w-full md:w-120 mx-auto">
      <div class="bg-secondary/75 text-center rounded-2xl p-12 h-full">
        <div>
          <h6 class="mb-2 md:text-2.2xl text-xl">Free</h6>
          <!-- Price -->
          <span
            ><span class="lg:text-6xl md:text-4.5xl text-4xl text-default-900 font-semibold"
              >$0</span
            >
            /month</span
          >
          <!-- Button -->
          <div class="mt-4">
            <a
              routerLink="/sign-up"
              class="border border-primary text-primary inline-flex py-3.5 px-7.5 font-medium rounded-md hover:bg-primary hover:text-white transition-all duration-300"
              >Sign up now</a
            >
          </div>
        </div>

        <div class="pt-7.5">
          <p class="text-default-900 font-medium">
            <lucide-icon
              name="badge-check"
              class="size-4.5 text-success inline-block me-1"
            ></lucide-icon>
            Limited to 100 conversations per month
          </p>
        </div>
      </div>

      <div class="bg-primary text-center rounded-2xl p-12 h-full">
        <div>
          <h6 class="mb-2 md:text-2.2xl text-xl text-white">Professional</h6>
          <!-- Price -->
          <span class="text-white/90"
            ><span class="lg:text-6xl md:text-4.5xl text-4xl text-white font-semibold">$59</span>
            /month</span
          >
          <!-- Button -->
          <div class="mt-4">
            <a
              routerLink="/pricing/v2"
              class="bg-dark text-white inline-flex py-3.5 px-7.5 font-medium rounded-md hover:bg-dark/80 transition-all duration-300"
              >Upgrade Now</a
            >
          </div>
        </div>

        <div class="pt-7.5">
          <p class="text-white font-medium">
            <lucide-icon
              name="badge-check"
              class="size-4.5 text-success inline-block me-1"
            ></lucide-icon>
            Detailed analytics and reporting
          </p>
        </div>
      </div>

      <div
        class="bg-secondary/75 text-center rounded-2xl p-12 h-full flex flex-col justify-between"
      >
        <div>
          <h6 class="mb-2 md:text-2.2xl text-xl">Enterprise</h6>
          <!-- Price -->
          <span class="lg:text-4.5xl md:text-4xl text-3xl text-default-900 font-semibold"
            >Custom</span
          >
          <!-- Button -->
          <div class="mt-4">
            <a
              routerLink="/pricing/v2"
              class="border border-primary text-primary inline-flex py-3.5 px-7.5 font-medium rounded-md hover:bg-primary hover:text-white transition-all duration-300"
              >Request pricing</a
            >
          </div>
        </div>

        <div class="pt-7.5">
          <p class="text-default-900 font-medium">
            <lucide-icon
              name="badge-check"
              class="size-4.5 text-success inline-block me-1"
            ></lucide-icon>
            Custom integration and development
          </p>
        </div>
      </div>
    </div>

    <div>
      <div class="lg:w-189.5 mx-auto">
        <div
          class="swiper mt-18">
          <swiper-container 
          space-between="30"
          autoplay="true"
          loop="true"
          autoplay-delay="4000"
          autoplay-disable-on-interaction="false"
          autoplay-pause-on-mouse-enter="true"
          pagination="true"
          pagination-el=".swiper-pagination"
          pagination-clickable="true"
          class="swiper-wrapper mb-18">
            @for (item of testimonialsData; track item.name) {
              <swiper-slide class="text-center">
                <div class="size-16 shrink-0 mb-4 mx-auto">
                  <img class="rounded-full" [src]="item.image" alt="avatar" />
                </div>

                <blockquote class="mb-7.5">
                  <p class="md:text-2.2xl text-xl text-default-800">
                    {{ item.text }}
                  </p>
                </blockquote>

                <h6 class="md:text-2.2xl text-xl">
                  {{ item.name }}
                </h6>

                <span>
                  {{ item.role }}
                </span>
              </swiper-slide>
            }
          </swiper-container>

          <div class="swiper-pagination swiper-pagination-primary swiper-pagination-horizontal absolute bottom-0 mb-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
