<div class="flex justify-between items-center py-4 px-7.5">
    <h3 id="scheduleCallLabel-label" class="font-bold text-default-800 text-2.2xl">
        Schedule a call
    </h3>
    <button type="button" aria-label="Close" data-hs-overlay="#scheduleCallLabel">
        <span class="sr-only">Close</span>
        <lucide-icon name="x" class="size-5"></lucide-icon>
    </button>
</div>

<div class="py-4 px-7.5 overflow-y-hidden h-dvh">
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2">
            <label class="block text-base font-medium mb-2">
                Your name *
            </label>
            <input type="text" placeholder="Full name" class="w-full rounded-md border border-default-300 px-5 py-2.5 text-xs placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" />
        </div>

        <div class="col-span-2">
            <label class="block text-base font-medium mb-2">
                Email address *
            </label>
            <input type="email" placeholder="name@example.com" class="w-full rounded-md border border-default-300 px-5 py-2.5 text-xs placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" id="floatingInput" />
        </div>

        <div class="col-span-1">
            <label class="block text-base font-medium mb-2">
                Schedule date *
            </label>
            <input type="date" class="w-full rounded-md border border-default-300 px-5 py-2.5 text-xs placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" />
        </div>

        <div class="col-span-1">
            <label class="block text-base font-medium mb-2">
                Schedule date *
            </label>
            <input type="time" class="w-full rounded-md border border-default-300 px-5 py-2.5 text-xs placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" />
        </div>

        <div class="col-span-2">
            <label class="block text-base font-medium mb-2">
                Phone number *
            </label>
            <input type="text" class="w-full rounded-md border border-default-300 px-5 py-2.5 text-xs placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" placeholder="(xxx) xx xxxx" />
        </div>

        <div class="col-span-2">
            <label class="block text-base font-medium mb-2">
                Subject *
            </label>
            <input type="text" class="w-full rounded-md border border-default-300 px-5 py-2.5 text-xs placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" placeholder="Subject name" />
        </div>

        <div class="col-span-2">
            <label class="block text-base font-medium mb-2">
                Message *
            </label>
            <textarea type="text" class="w-full rounded-md border border-default-300 px-5 py-2.5 text-xs placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" placeholder="Write your message here...." id="floatingTextarea2" style="height: 150px"></textarea>
        </div>
    </div>
    <button class="bg-primary text-white w-full py-3.5 px-7.5 mt-4 rounded">Send a message</button>
</div>