<!-- CTA -->
<section class="lg:py-36 py-20 bg-secondary relative overflow-hidden">
    <svg class="absolute top-0 start-0 lg:-mt-18" viewBox="0 0 1950 237" style="enable-background:new 0 0 1950 237;" xml:space="preserve">
        <path class="fill-body-bg" d="M1949.5,0H0v164c717.2,131.2,1598.5,54.7,1949.5,0V0z"></path>
    </svg>
    <div class="container">
        <div class="lg:pt-32 pt-12 relative z-50">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-7.5 items-center">
                <div class="col-span-1">
                    <h2 class="mb-4 lg:mb-7.5 lg:text-4.5xl md:text-4xl text-3xl"> Find the perfect plan for your business</h2>
                    <p class="mb-7.5">Our flexible pricing plans are designed to scale with your business, offering the features you need to thrive.</p>

                    <a routerLink="/pricing/v1" class="group inline-flex items-center gap-1.5 py-3.5 px-7.5 rounded-md bg-primary-grad">
                        <span>Explore our projects</span>
                        <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-white transition-all duration-300"></lucide-icon>
                    </a>
                </div>

                <div class="col-span-2 lg:ps-18">
                    <div class="grid md:grid-cols-2 grid-cols-1 items-center md:gap-0 gap-7.5">
                        @for (plan of pricingPlanData; track $index) {
                        <div class="text-center relative" [class]="plan.highlight 
          ? 'pb-7.5 px-7.5 pt-12 bg-primary rounded-2xl' 
          : 'p-7.5 bg-body-bg md:rounded-s-2xl md:rounded-e-none rounded-2xl'">

                            @if (plan.highlight) {
                            <div class="text-white bg-dark rounded absolute top-0 start-1/2 -translate-x-1/2 -translate-y-1/2 px-4 py-1">
                                {{ plan.badge }}
                            </div>
                            }

                            <div class="size-18 bg-secondary mb-4 mx-auto rounded-full flex justify-center items-center">
                                <img [src]="plan.icon" class="h-10" alt="icon">
                            </div>


                            <h6 class="mb-4 md:text-2.2xl text-xl" [class]="plan.highlight ? 'text-white' : ''">
                                {{ plan.title }}
                            </h6>

                            <span [class]="plan.highlight ? 'text-white' : 'text-primary'">
                                <span class="lg:text-6xl md:text-4.5xl text-4xl font-bold">
                                    ${{ plan.price }}</span> /{{ plan.duration }}
                            </span>


                            <div class="mt-4">
                                <ul class="mb-7.5 space-y-3 text-center" [class]="plan.highlight ? 'text-white/90' : 'text-default-800'">
                                    @for (feature of plan.features; track $index) {
                                    <li class="flex justify-center items-center">
                                        <lucide-icon name="check" class="me-1 size-4" [class]="!plan.highlight ? 'text-success' : ''">
                                        </lucide-icon>
                                        {{ feature }}
                                    </li>
                                    }
                                </ul>
                                <a routerLink="/contact/v2" class="w-full rounded-md py-3.5 px-7.5 inline-flex justify-center font-medium" [class]="plan.buttonClass">
                                    Get started
                                </a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>