<header>
    <div class="header-sticky fixed navbar bg-body-bg transition-all top-0 inset-x-0 w-full z-90 duration-300 [.nav-sticky]:bg-light [.nav-sticky]:shadow"  [class.header-sticky-on]="isSticky">
        <div class="container">
            <div class="flex items-center justify-between">
                <a routerLink="/" class="flex items-center lg:py-7.5 py-5">
                    <img src="assets/images/logo.svg" class="lg:h-10 h-7.5 block dark:hidden" />
                    <img src="assets/images/logo-light.svg" class="lg:h-10 h-7.5 hidden dark:block" />
                </a>

                <app-navbar />

                <div class="flex justify-end items-center gap-2">
                   <app-theme-dropdown />

                    <a routerLink="/auth/sign-up" class="py-2.5 px-5 bg-primary-grad hover:bg-default-200 rounded text-default-800 font-medium text-2xs transition-all md:block hidden">
                        Sign up
                    </a>

                    <div class="flex items-center lg:hidden">
                        <button type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="mobileMenuOffcanvas" data-hs-overlay="#mobileMenuOffcanvas" class="size-10 border border-default-200 dark:border-white/14 rounded flex justify-center items-center md:ms-2">
                            <iconify-icon icon="tabler:align-right" width="28" height="28" class="text-default-800"></iconify-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mobileMenuOffcanvas" class="lg:hidden hs-overlay hs-overlay-open:translate-y-0 -translate-y-full fixed top-0 inset-x-0 overflow-hidden transition-all duration-300 transform h-86 z-90 bg-body-bg shadow-xl" role="dialog" tabindex="-1" aria-labelledby="mobileMenuOffcanvas-label">
        <div class="h-16 flex items-center justify-between px-4 border-b border-default-200 dark:border-white/14 sticky top-0">
            <div class="text-lg font-bold">
                <a routerLink="/" class="flex items-center gap-2">
                    <img src="assets/images/logo.svg" class="h-9 block dark:hidden" />
                    <img src="assets/images/logo-light.svg" class="h-9 hidden dark:block" />
                </a>
            </div>

            <button type="button" class="bg-default-600/15 text-default-600 size-8 flex justify-center items-center rounded-full" aria-label="Close" data-hs-overlay="#mobileMenuOffcanvas">
                <span class="sr-only">Close</span>
                <iconify-icon icon="tabler:x" width="16" height="16"></iconify-icon>
            </button>
        </div>

        <app-mobile-menu />
    </div>
</header>