<section class="lg:pt-32 pt-20 relative overflow-hidden bg-secondary">
    <div class="absolute end-0 top-0 mt-18 -me-18 z-20 hidden md:block">
        <img src="assets/images/elements/clay-decoration.png" class="h-100" alt="Clay-decoration">
    </div>

    <div class="absolute top-0 start-1/2 -translate-x-1/2 -mt-44 -ms-44">
        <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[80px] opacity-10" alt="Grad shape">
    </div>

    <div class="absolute start-0 top-0">
        <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-10 blur-[80px] h-75 rotate-335" alt="Grad shape">
    </div>

    <div class="container">
        <div class="pt-12 max-w-150 mx-auto text-center mb-24">
            <nav class="mb-4 pb-2 flex justify-center" aria-label="breadcrumb">
                <ol class="flex items-center space-x-2 text-2xs text-default-600">
                    <li>
                        <a routerLink="/" class="hover:text-primary font-medium">
                            Home
                        </a>
                    </li>

                    <li class="flex items-center">
                        <span class="px-2 text-default-400">/</span>
                        <span class="font-medium text-primary" aria-current="page">
                            Pricing - v2
                        </span>
                    </li>
                </ol>
            </nav>
            <h1 class="lg:text-6xl md:text-4.5xl text-4xl">Affordable &amp; flexible pricing plans</h1>
        </div>
        <!-- TOP SECTION -->
        <div class="lg:w-260 mx-auto">
            @for (plan of topPlans; track $index) {
            <ng-container *ngTemplateOutlet="planCard; context: { plan: plan }"></ng-container>
            }
        </div>

        <!-- BOTTOM SECTION -->
        <div class="lg:w-260 mx-auto relative z-20">
            @for (plan of bottomPlans; track $index) {
            <ng-container *ngTemplateOutlet="planCard; context: { plan: plan }"></ng-container>
            }
        </div>



        <ng-template #planCard let-plan="plan">
            <div class="md:p-12 p-7.5 rounded-2xl group transition-all duration-300 grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-7.5 mt-12" [ngClass]="{
      'bg-body-bg hover:shadow-[0_10px_20px_rgba(127,57,248,0.15)] hover:-translate-y-0.75': plan.theme === 'light',
      'bg-[linear-gradient(90deg,#543DE7_0%,#7F39F8_80%)] text-white hover:shadow-[0_10px_20px_rgba(127,57,248,0.15)] hover:-translate-y-0.75': plan.theme === 'gradient'
    }">

                <!-- LEFT -->
                <div>
                    <div class="size-18 mb-7.5 rounded-full flex justify-center items-center" [ngClass]="plan.theme === 'gradient' ? 'bg-dark' : 'bg-secondary'">
                        <img [src]="plan.image" class="h-10" alt="icon">
                    </div>

                    <p class="font-semibold mb-2 text-xl" [ngClass]="plan.theme === 'gradient' ? 'text-white' : 'text-default-800'">
                        {{ plan.title }}
                    </p>

                    <p class="mb-2">
                        <span class="lg:text-6xl md:text-4.5xl text-4xl font-bold" [ngClass]="plan.theme === 'gradient' ? 'text-white' : 'text-default-900'">
                            {{ plan.price }}</span> {{ plan.duration }}
                    </p>

                    <p class="font-medium" [ngClass]="plan.theme === 'gradient' ? 'text-white/60' : 'text-default-600'">
                        {{ plan.description }}
                    </p>
                </div>

                <!-- RIGHT -->
                <div class="lg:w-100 md:ms-auto">
                    <span class="font-semibold mb-1 md:mb-6 block" [ngClass]="plan.theme === 'gradient' ? 'text-white/60' : 'text-default-400'">
                        Quick look at all the features
                    </span>

                    <ul class="mb-4 space-y-3 text-center font-medium" [ngClass]="plan.theme === 'gradient' ? 'text-white' : 'text-default-800'">
                        @for (feature of plan.features; track $index) {
                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            {{ feature.text }}
                        </li>
                        }
                    </ul>

                    <a [routerLink]="[]" class="group inline-flex items-center gap-1.5 py-3.5 px-7.5 rounded-md w-full justify-center" [ngClass]="plan.theme === 'gradient' ? 'bg-white text-dark' : 'bg-dark text-white'">
                        <span>{{ plan.buttonText }}</span>
                        <lucide-icon name="arrow-right" class="hover:translate-x-0.5 size-4 transition-all duration-300"></lucide-icon>
                    </a>
                </div>

            </div>
        </ng-template>
    </div>

    <span class="absolute bottom-0 start-0">
        <svg class="text-dark" width="1920" height="73" viewBox="0 0 1920 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0L1920 61.5V73H0V0Z" fill="currentColor"></path>
        </svg>
    </span>
</section>