<section class="lg:pt-32 pt-20 relative overflow-hidden bg-secondary">
    <div class="absolute end-0 top-0 mt-18 -me-18 z-20 hidden md:block">
        <img src="assets/images/elements/clay-decoration.png" class="h-100" alt="Clay-decoration">
    </div>

    <div class="absolute top-0 start-1/2 -translate-x-1/2 -mt-44 -ms-44">
        <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[80px] opacity-10" alt="Grad shape">
    </div>

    <div class="absolute start-0 top-0">
        <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-10 blur-[80px] h-75 rotate-335" alt="Grad shape">
    </div>

    <div class="container">
        <div class="pt-12 max-w-150 mx-auto text-center mb-24">
            <nav class="mb-4 pb-2 flex justify-center" aria-label="breadcrumb">
                <ol class="flex items-center space-x-2 text-2xs text-default-600">
                    <li>
                        <a routerLink="/" class="hover:text-primary font-medium">
                            Home
                        </a>
                    </li>

                    <li class="flex items-center">
                        <span class="px-2 text-default-400">/</span>
                        <span class="font-medium text-primary" aria-current="page">
                            Pricing - v2
                        </span>
                    </li>
                </ol>
            </nav>
            <h1 class="lg:text-6xl md:text-4.5xl text-4xl">Affordable &amp; flexible pricing plans</h1>
        </div>

        <div class="lg:w-260 mx-auto">
            <div class="bg-body-bg md:p-12 p-7.5 rounded-2xl group hover:shadow-[0_10px_20px_rgba(127,57,248,0.15)] hover:-translate-y-0.75 transition-all duration-300 grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-7.5 mt-12">
                <div>
                    <div class="size-18 bg-secondary mb-7.5 rounded-full flex justify-center items-center">
                        <img src="assets/images/elements/rocket.png" class="h-10" alt="rocket">
                    </div>
                    <p class="text-default-800 font-semibold mb-2 text-xl">Basic plan</p>
                    <p class="mb-2"> <span class="lg:text-6xl md:text-4.5xl text-4xl font-bold text-default-900 mb-0">$59</span> /month</p>
                    <p class="font-medium text-default-600">Ideal for small teams, the Basic plan manages up to 10 projects.</p>
                </div>

                <div class="lg:w-100 md:ms-auto">
                    <span class="font-semibold text-default-400 mb-1 md:mb-6 block">Quick look at all the features</span>
                    <ul class="mb-4 space-y-3 text-default-800 text-center font-medium">
                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Customizable features
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            5 user accounts
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Customizable features
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            10 GB storage
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Email support
                        </li>
                    </ul>

                    <a [routerLink]="[]" class="group inline-flex items-center gap-1.5 py-3.5 px-7.5 rounded-md bg-dark text-white w-full justify-center">
                        <span>Purchase</span>
                        <lucide-icon name="arrow-right" class="hover:translate-x-0.5 size-4 text-white transition-all duration-300"></lucide-icon>
                    </a>
                </div>
            </div>

            <div class="bg-body-bg md:p-12 p-7.5 rounded-2xl group hover:shadow-[0_10px_20px_rgba(127,57,248,0.15)] hover:-translate-y-0.75 transition-all duration-300 grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-7.5 mt-12">
                <div>
                    <div class="size-18 bg-secondary mb-7.5 rounded-full flex justify-center items-center">
                        <img src="assets/images/elements/fire.png" class="h-10" alt="rocket">
                    </div>
                    <p class="text-default-800 font-semibold mb-2 text-xl">Professional plan</p>
                    <p class="mb-2"> <span class="lg:text-6xl md:text-4.5xl text-4xl font-bold text-default-900 mb-0">$99</span> /month</p>
                    <p class="font-medium text-default-600">Get priority email support and access to premium templates for a more comprehensive solution.</p>
                </div>

                <div class="lg:w-100 md:ms-auto">
                    <span class="font-semibold text-default-400 mb-1 md:mb-6 block">Quick look at all the features</span>
                    <ul class="mb-4 space-y-3 text-default-800 text-center font-medium">
                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Access to basic features
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            15 user accounts
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Customizable features
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            50 GB storage
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Dedicated account manager
                        </li>
                    </ul>

                    <a [routerLink]="[]" class="group inline-flex items-center gap-1.5 py-3.5 px-7.5 rounded-md bg-dark text-white w-full justify-center">
                        <span>Purchase</span>
                        <lucide-icon name="arrow-right" class="hover:translate-x-0.5 size-4 text-white transition-all duration-300"></lucide-icon>
                    </a>
                </div>
            </div>
        </div>

        <div class="lg:w-260 mx-auto relative z-20">
            <div class="bg-body-bg md:p-12 p-7.5 rounded-2xl group hover:shadow-[0_10px_20px_rgba(127,57,248,0.15)] hover:-translate-y-0.75 transition-all duration-300 grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-7.5 mt-12">
                <div>
                    <div class="size-18 bg-secondary mb-7.5 rounded-full flex justify-center items-center">
                        <img src="assets/images/elements/rocket.png" class="h-10" alt="rocket">
                    </div>
                    <p class="text-default-800 font-semibold mb-2 text-xl">Basic plan</p>
                    <p class="mb-2"> <span class="lg:text-6xl md:text-4.5xl text-4xl font-bold text-default-900 mb-0">$59</span> /month</p>
                    <p class="font-medium text-default-600">Ideal for small teams, the Basic plan manages up to 10 projects.</p>
                </div>

                <div class="lg:w-100 md:ms-auto">
                    <span class="font-semibold text-default-400 mb-1 md:mb-6 block">Quick look at all the features</span>
                    <ul class="mb-4 space-y-3 text-default-800 text-center font-medium">
                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Customizable features
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            5 user accounts
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Customizable features
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            10 GB storage
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Email support
                        </li>
                    </ul>

                    <a [routerLink]="[]" class="group inline-flex items-center gap-1.5 py-3.5 px-7.5 rounded-md bg-dark text-white w-full justify-center">
                        <span>Purchase</span>
                        <lucide-icon name="arrow-right" class="hover:translate-x-0.5 size-4 text-white transition-all duration-300"></lucide-icon>
                    </a>
                </div>
            </div>

            <div class="bg-[linear-gradient(90deg,#543DE7_0%,#7F39F8_80%)] md:p-12 p-7.5 rounded-2xl group hover:shadow-[0_10px_20px_rgba(127,57,248,0.15)] hover:-translate-y-0.75 transition-all duration-300 grid md:grid-cols-2 grid-cols-1 md:gap-0 gap-7.5 mt-12">
                <div>
                    <div class="size-18 bg-dark mb-7.5 rounded-full flex justify-center items-center">
                        <img src="assets/images/elements/thunder.png" class="h-10" alt="rocket">
                    </div>
                    <p class="text-white font-semibold mb-2 text-xl">Enterprise plan</p>
                    <p class="mb-2"> <span class="lg:text-6xl md:text-4.5xl text-4xl font-bold text-white mb-0">Custom</span></p>
                    <p class="font-medium text-white/60">For businesses with unique requirements, our Custom Plan delivers a fully personalized experience.</p>
                </div>

                <div class="lg:w-100 md:ms-auto">
                    <span class="font-semibold text-white/60 mb-1 md:mb-6 block">Quick look at all the features</span>
                    <ul class="mb-4 space-y-3 text-white text-center font-medium">
                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Unlimited projects
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Custom reporting and analytics
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Dedicated account manager
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Tailored support and consulting
                        </li>

                        <li class="flex items-center">
                            <lucide-icon name="check" class="text-success me-1 size-4"></lucide-icon>
                            Personalized onboarding and training
                        </li>
                    </ul>

                    <a [routerLink]="[]" class="group inline-flex items-center gap-1.5 py-3.5 px-7.5 rounded-md bg-white text-dark w-full justify-center">
                        <span>Contact us</span>
                        <lucide-icon name="arrow-right" class="hover:translate-x-0.5 size-4 text-dark transition-all duration-300"></lucide-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <span class="absolute bottom-0 start-0">
        <svg class="text-dark" width="1920" height="73" viewBox="0 0 1920 73" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0L1920 61.5V73H0V0Z" fill="currentColor"></path>
        </svg>
    </span>
</section>