<section>
  <div class="container">
    <h2 class="text-center mb-7.5 lg:mb-12 lg:text-4.5xl md:text-4xl text-3xl">
      Our financial experts
    </h2>

    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-12 gap-7.5">
      @for (member of teamData; track member.name) {
        <div class="group">
          <img [src]="member.image" class="rounded-xl" alt="team image" />

          <div class="pt-5 text-center">
            <h6 class="mb-1 md:text-2.2xl text-xl">
              {{ member.name }}
            </h6>

            <p class="text-default-700">
              {{ member.role }}
            </p>

            <div
              class="flex justify-center items-center gap-3 mt-4 opacity-0 group-hover:opacity-100 transition-all duration-300"
            >
              @for (icon of member.social; track $index) {
                @if (icon.type === 'lucide') {
                  <lucide-icon [name]="icon.icon" class="size-4"></lucide-icon>
                }

                @if (icon.type === 'iconify') {
                  <iconify-icon [icon]="icon.icon"></iconify-icon>
                }
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
