 <section class="lg:pb-36 pb-20">
        <div class="container">
            <div class="md:flex md:justify-center md:mb-18 mb-7.5 items-center">
                <p class="mb-7.5 md:mb-0 me-7.5 font-medium">Filter by:</p>
                <div class="flex flex-wrap md:gap-7.5 gap-4 md:justify-center justify-start">
                    <a [routerLink]="[]" class="py-2 text-default-900 font-semibold border-b-2 border-default-900">All</a>
                    <a [routerLink]="[]" class="py-2 text-default-500 focus:text-default-900 hover:text-default-900 font-semibold hover:border-b-2 hover:border-default-900 focus:border-b-2 focus:border-default-900">Productivity</a>
                    <a [routerLink]="[]" class="py-2 text-default-500 focus:text-default-900 hover:text-default-900 font-semibold hover:border-b-2 hover:border-default-900 focus:border-b-2 focus:border-default-900">CRM</a>
                    <a [routerLink]="[]" class="py-2 text-default-500 focus:text-default-900 hover:text-default-900 font-semibold hover:border-b-2 hover:border-default-900 focus:border-b-2 focus:border-default-900">Payment</a>
                    <a [routerLink]="[]" class="py-2 text-default-500 focus:text-default-900 hover:text-default-900 font-semibold hover:border-b-2 hover:border-default-900 focus:border-b-2 focus:border-default-900">e-commerce</a>
                    <a [routerLink]="[]" class="py-2 text-default-500 focus:text-default-900 hover:text-default-900 font-semibold hover:border-b-2 hover:border-default-900 focus:border-b-2 focus:border-default-900">Streaming</a>
                </div>
            </div>

            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:gap-12 gap-7.5">
                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">

                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/05.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Graphlo</h6>
                            <span class="text-default-700">Productivity</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Integrate with Graphlo to streamline your customer relationship management. Sync contacts, automate workflows, and gain insights with powerful analytics.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>

                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">
                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/11.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Vectra</h6>
                            <span class="text-default-700">CRM</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Seamless email marketing campaigns. Automate email sequences, manage subscriber lists, and track campaign performance.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>

                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">

                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/10.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Signum</h6>
                            <span class="text-default-700">Payment</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Integrate Signum for secure and efficient payment processing. Accept payments, manage subscriptions, and track transactions effortlessly.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>

                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">

                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/04.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Grapherz</h6>
                            <span class="text-default-700">Streaming</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Streamlined accounting and financial management. Track expenses, generate invoices, and manage payroll with ease.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>

                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">

                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/07.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Imprintify</h6>
                            <span class="text-default-700">Productivity</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Imprintify to enhance team communication and collaboration. Receive notifications, share updates, and manage tasks directly within imprintify.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>

                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">

                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/08.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Logique</h6>
                            <span class="text-default-700">e-commerce</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Connect with Logique to enhance your e-commerce operations. Sync inventory, manage orders, and track sales from one platform.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>

                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">

                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/09.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Optimal</h6>
                            <span class="text-default-700">CRM</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Integrate with Optimal to streamline your customer relationship management. Sync contacts, automate workflows, and gain insights with powerful analytics.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>

                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">

                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/01.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Artistry</h6>
                            <span class="text-default-700">Payment</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Manage support tickets, track customer interactions, and improve response times.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>

                <a routerLink="/integration/single" class="p-7.5 rounded-2xl group bg-secondary/50 hover:-translate-y-0.75 transition-all duration-300">

                    <div class="flex gap-4 items-center mb-4">
                        <!-- Icon -->
                        <div class="size-14 flex justify-center items-center shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)] text-center bg-body-bg rounded-lg shrink-0" style="line-height: 3.2rem;">
                            <img src="assets/images/client/icons/03.svg" class="h-7.5" alt="">
                        </div>
                        <!-- Info -->
                        <div>
                            <h6 class="md:text-2.2xl text-xl">Wayline</h6>
                            <span class="text-default-700">Streaming</span>
                        </div>
                    </div>

                    <p class="pb-4 text-default-700">Sync with Wayline for enhanced project management. Organize tasks, collaborate with your team, and track project progress effortlessly.</p>

                    <div class="mt-7.5">
                        <button class="group flex items-center gap-1.5">
                            <span class="text-primary-grad font-medium">Explore integration</span>
                            <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </section>