<section class="lg:pb-36 pb-20">
        <div class="container">
            <div class="bg-secondary relative rounded-2xl overflow-hidden p-7.5 md:p-18">
                <div class="absolute end-0 top-0 rotate-343 -mt-12 -me-32 hidden md:block">
                    <img src="assets/images/elements/grad-shape/05.png" class="lg:h-125 md:h-75 h-50" alt="bg pattern">
                </div>

                <div class="absolute start-0 top-0 rotate-343 -mt-12 -ms-18">
                    <img src="assets/images/elements/grad-shape/11.png" class="h-50 blur-[6px]" alt="bg pattern">
                </div>

                <div class="grid lg:grid-cols-2 grid-cols-1 gap-7.5 items-center relative z-30">
                    <div>
                        <h5 class="font-medium lg:text-2.5xl mb-2">Have a project in mind?</h5>
                        <h2 class="lg:text-6xl md:text-4.5xl text-4xl mb-2 font-bold">Let’s get to <span class="text-primary-grad"> work.</span></h2>
                    </div>

                    <div class="flex lg:justify-end">
                        <a [routerLink]="[]" class="text-white bg-dark py-3.5 px-7.5 rounded-md font-medium">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </section>