<header class="relative">
        <div class="container">
            <div class="flex justify-center">
                <!-- Logo START -->
                <a class="py-7.5 me-4" routerLink="/">
                    <img class="block dark:hidden lg:h-10 h-7.5" src="assets/images/logo.svg" alt="logo">
                    <img class="hidden dark:block lg:h-10 h-7.5" src="assets/images/logo-light.svg" alt="logo">
                </a>
                <!-- Logo END -->
            </div>
        </div>
    </header>