<section class="lg:pb-36 pb-20">
        <div class="container">
            <div class="bg-dark relative rounded-2xl overflow-hidden p-7.5 sm:p-18">
                <div class="absolute top-0 end-0 -mt-18">
                    <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[80px] opacity-30" alt="Grad shape">
                </div>

                <div class="grid lg:grid-cols-2 grid-cols-1 gap-7.5 relative items-center">
                    <div>
                        <h2 class="mb-4 lg:text-4.5xl md:text-4xl text-3xl text-white">Experience the Power of <span class="text-purple">AI Chatbot</span></h2>
                        <p class="mb-7.5 text-white/80">Our AI chatbot offers enhancing customer satisfaction and boosting your business efficiency.</p>
                        <a routerLink="/pricing/v1" class="border-white border text-white py-3.5 px-7.5 rounded-md font-medium inline-flex hover:bg-white hover:text-dark transition-all duration-300">Start free trial</a>
                    </div>

                    <div>
                        <div class="absolute end-0 top-0 -mt-4 -me-12 hidden lg:block overflow-hidden">
                            <img src="assets/images/elements/chatbot-cta.png" alt="" class="w-137">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>