<section class="lg:pt-44 md:pt-32 pt-30 pb-12 relative overflow-hidden bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)]">
    <span class="absolute bottom-0 start-0">
        <svg class="fill-body-bg" width="1920" height="254" viewBox="0 0 1920 254" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M556.048 176.63C371.384 97.9289 108.406 143.838 0 176.63V254H1920V0C1863.62 35.5602 1712.53 98.8233 1559.27 67.394C1406.01 35.9648 1206.33 86.6647 1125.65 115.943C1012.72 168.964 740.712 255.331 556.048 176.63Z"></path>
        </svg>
    </span>

    <div class="container">
        <div class="grid lg:grid-cols-2 md:grid-cols-12 gap-7.5 relative z-20">
            <div class="lg:col-span-1 md:col-span-7">
                <h1 class="lg:text-7xl md:text-5.5xl text-[40px] mb-4 md:mb-7.5 font-bold">Smart Solutions with <span class="text-primary">AI</span></h1>
                <p class="text-xl text-default-700 mb-4 md:mb-7.5">Harness AI to unlock your business potential, streamline operations, and drive growth.</p>
                <a [routerLink]="[]" class="group inline-flex items-center gap-1.5 py-3.5 px-7.5 rounded-md bg-primary-grad">
                    <span>Get Started</span>
                    <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-white transition-all duration-300"></lucide-icon>
                </a>
            </div>

            <div class="lg:w-127.75 ms-auto lg:col-span-1 md:col-span-5">
                <img src="assets/images/elements/ai-robot.png" alt="AI-robot">
            </div>
        </div>
    </div>
</section>