<section class="lg:pb-36 pb-20 bg-secondary">
    <div class="container">
        <div class="text-center mb-18 lg:mb-24">
            <h2 class="lg:text-4.5xl md:text-4xl text-3xl">Our expert services</h2>
        </div>

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:gap-12 gap-7.5 items-center">
            @for (service of servicesData; track service.id) {
            <div class="bg-body-bg/50 p-7.5 rounded-2xl group hover:shadow-[0_10px_20px_rgba(127,57,248,0.15)] transition-all duration-300 relative mb-7.5">
                <div class="bg-transparent">
                    <!-- Icon -->
                    <div class="absolute top-0 start-1/2 -translate-x-1/2 -translate-y-1/2 size-18 mx-auto flex justify-center items-center text-white rounded-full group-hover:-translate-y-[35%] transition-all duration-300" [class]="service.bgColor">
                        <span [innerHTML]="service.safeIcon"></span>
                    </div>
                </div>

                <div class="bg-transparent mt-18 text-center">
                    <h6 class="mb-4 md:text-2.2xl text-xl">{{ service.title }}</h6>
                    <p class="mb-4">{{ service.description }}</p>
                    <a [routerLink]="service.link" class="group flex items-center justify-center gap-1.5">
                        <span class="text-primary-grad">Read more</span>
                        <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                    </a>
                </div>
            </div>
            }


            <div class="flex flex-col justify-center items-center text-center h-full">
                <img src="assets/images/elements/emoji.png" class="mb-4" alt="">
                <p class="mb-4 text-default-600">Not satisfied yet?</p>
                <a routerLink="/services/grid" class="py-3.5 px-7.5 rounded-md font-medium bg-primary-grad mb-0">Explore all services</a>
            </div>
        </div>
    </div>
</section>