<section class="lg:py-32 py-20 relative overflow-hidden">
  <div class="xl:px-18">
    <div
      class="rounded-2xl relative pt-12 md:pt-32 sm:px-7.5 xl:px-18 bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)]"
    >
      <div class="absolute end-0 top-0 mt-18 -me-24 hidden sm:block">
        <img src="assets/images/elements/rocket-02.png" class="w-1/2" alt="" />
      </div>

      <div class="relative z-20 mb-18 px-4">
        <div class="lg:w-216.5 mx-auto text-center">
          <p
            class="text-default-700 bg-body-bg inline-block font-medium rounded px-2 sm:px-7.5 py-2 mb-4"
          >
            <span class="text-white py-1 px-2 text-xs rounded bg-success me-2">v2.0.0</span>Unlock
            your potential with new version
          </p>
          <h1 class="font-bold mb-7.5 lg:text-6xl md:text-4.5xl text-4xl">
            Powerful <span class="text-primary">Saas</span> solutions for modern businesses
          </h1>
          <p class="mb-7.5 text-default-700">
            Empower your business with cutting-edge software solutions designed to streamline
            operations, boost productivity, and drive growth.
          </p>
          <a
            routerLink="/pricing/v2"
            class="bg-primary-grad text-white inline-block rounded-md py-4.75 px-8.75 font-medium text-lg mb-1.5"
            >Get started now - free</a
          >
          <p class="text-sm text-default-700">🔥 Sign up now for a 14-day free trial</p>
        </div>
      </div>

      <div
        class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 relative z-20 gap-7.5 xl:gap-12 justify-center items-center"
      >
        <div class="lg:col-span-3">
          <div
            class="bg-body-bg/10 backdrop-blur-[5px] border border-primary/10 rounded-2xl shadow-[0_0.3rem_0.25rem_rgba(127,57,248,0.3)]-md p-4"
          >
            <img
              src="assets/images/elements/saas-decoration/01.png"
              class="rounded-2xl shadow-sm"
              alt="saas image 1"
            />
          </div>
        </div>

        <div class="lg:col-span-4">
          <div
            class="bg-body-bg/10 backdrop-blur-[5px] border border-primary/10 rounded-2xl shadow-[0_0.3rem_0.25rem_rgba(127,57,248,0.3)]-md p-4"
          >
            <img
              src="assets/images/elements/saas-decoration/02.png"
              class="rounded-2xl shadow-sm"
              alt="saas image 1"
            />
          </div>
        </div>

        <div class="lg:col-span-5 col-span-2 hidden sm:block">
          <div class="grid grid-cols-12 gap-7.5 xl:gap-12">
            <div class="col-span-12 w-132 mx-auto">
              <div
                class="bg-body-bg/10 backdrop-blur-[5px] border border-primary/10 rounded-2xl shadow-[0_0.3rem_0.25rem_rgba(127,57,248,0.3)]-md p-4"
              >
                <img
                  src="assets/images/elements/saas-decoration/03.png"
                  class="rounded-2xl shadow-sm"
                  alt="saas image 1"
                />
              </div>
            </div>

            <div class="col-span-6">
              <div class="bg-primary rounded-2xl p-7.5">
                <!-- Icon -->
                <div
                  class="size-14 bg-white text-dark flex justify-center items-center rounded-full"
                >
                  <lucide-icon name="users" class="fill-dark size-7"></lucide-icon>
                </div>
                <!-- Content -->
                <div class="flex justify-between items-center mt-7.5">
                  <div>
                    <span class="text-white/60">New clients</span>
                    <h3 class="lg:text-4xl md:text-3xl text-2xl text-white">321</h3>
                  </div>
                  <div>
                    <svg
                      width="64"
                      height="46"
                      viewBox="0 0 64 46"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M60.7407 45.5705C59.268 45.5705 58.0742 44.3767 58.0742 42.904L58.0742 2.66644C58.0742 1.19381 59.268 8.12872e-06 60.7407 8.10623e-06C62.2133 8.08374e-06 63.4071 1.19381 63.4071 2.66644L63.4071 42.904C63.4071 44.3767 62.2133 45.5705 60.7407 45.5705Z"
                        fill="#E9EDF7"
                        fill-opacity="0.3"
                      />
                      <path
                        d="M60.7407 45.5705C59.268 45.5705 58.0742 44.3767 58.0742 42.904L58.0742 37.3701C58.0742 35.8975 59.268 34.7037 60.7407 34.7037C62.2133 34.7037 63.4071 35.8975 63.4071 37.3701L63.4071 42.904C63.4071 44.3767 62.2133 45.5705 60.7407 45.5705Z"
                        fill="#EBEEFF"
                      />
                      <path
                        d="M46.2211 45.5705C44.7485 45.5705 43.5547 44.3767 43.5547 42.9041L43.5547 2.66641C43.5547 1.19379 44.7485 2.24891e-08 46.2211 0C47.6937 -2.24891e-08 48.8875 1.19379 48.8875 2.6664L48.8875 42.9041C48.8875 44.3767 47.6937 45.5705 46.2211 45.5705Z"
                        fill="#E9EDF7"
                        fill-opacity="0.3"
                      />
                      <path
                        d="M46.2211 45.5705C44.7485 45.5705 43.5547 44.3767 43.5547 42.9041L43.5547 6.87294C43.5547 5.40032 44.7485 4.20652 46.2211 4.20652C47.6938 4.20652 48.8876 5.40032 48.8876 6.87295L48.8875 42.9041C48.8875 44.3767 47.6937 45.5705 46.2211 45.5705Z"
                        fill="#EBEEFF"
                      />
                      <path
                        d="M31.7035 45.5705C30.2309 45.5705 29.0371 44.3767 29.0371 42.904L29.0371 2.66644C29.0371 1.19381 30.2309 8.12872e-06 31.7035 8.10623e-06C33.1762 8.08374e-06 34.37 1.19381 34.37 2.66644L34.37 42.904C34.37 44.3767 33.1762 45.5705 31.7035 45.5705Z"
                        fill="#E9EDF7"
                        fill-opacity="0.3"
                      />
                      <path
                        d="M31.7035 45.5705C30.2309 45.5705 29.0371 44.3767 29.0371 42.904L29.0371 16.6881C29.0371 15.2155 30.2309 14.0217 31.7035 14.0217C33.1762 14.0217 34.37 15.2155 34.37 16.6881L34.37 42.904C34.37 44.3767 33.1762 45.5705 31.7035 45.5705Z"
                        fill="#EBEEFF"
                      />
                      <path
                        d="M17.186 45.5705C15.7133 45.5705 14.5195 44.3767 14.5195 42.904L14.5195 2.66644C14.5195 1.19381 15.7133 8.12872e-06 17.186 8.10623e-06C18.6586 8.08374e-06 19.8524 1.19381 19.8524 2.66644L19.8524 42.904C19.8524 44.3767 18.6586 45.5705 17.186 45.5705Z"
                        fill="#E9EDF7"
                        fill-opacity="0.3"
                      />
                      <path
                        d="M17.186 45.5705C15.7133 45.5705 14.5195 44.3767 14.5195 42.904L14.5195 24.7506C14.5195 23.278 15.7133 22.0842 17.186 22.0842C18.6586 22.0842 19.8524 23.278 19.8524 24.7506L19.8524 42.904C19.8524 44.3767 18.6586 45.5705 17.186 45.5705Z"
                        fill="#EBEEFF"
                      />
                      <path
                        d="M2.66644 45.5705C1.19381 45.5705 5.22313e-06 44.3767 5.03888e-06 42.904L4.5402e-09 2.66644C-1.79708e-07 1.19381 1.1938 8.60663e-06 2.66644 8.58414e-06C4.13907 8.56166e-06 5.33287 1.19381 5.33287 2.66644L5.33288 42.904C5.33288 44.3767 4.13907 45.5705 2.66644 45.5705Z"
                        fill="#E9EDF7"
                        fill-opacity="0.3"
                      />
                      <path
                        d="M2.66644 45.5705C1.19381 45.5705 5.22313e-06 44.3767 5.03888e-06 42.904L0 10.7289C-1.8425e-07 9.25627 1.19381 8.06247 2.66644 8.06247C4.13907 8.06247 5.33288 9.25628 5.33288 10.7289L5.33288 42.904C5.33288 44.3767 4.13907 45.5705 2.66644 45.5705Z"
                        fill="#EBEEFF"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-span-6">
              <div
                class="bg-body-bg backdrop-blur-[5px] border border-primary/10 rounded-2xl shadow-[0_0.3rem_0.25rem_rgba(127,57,248,0.3)]-md p-4"
              >
                <img
                  src="assets/images/elements/saas-decoration/04.png"
                  class="rounded-2xl shadow-sm"
                  alt="saas image 1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-body-bg h-125 w-full blur-[32px] absolute start-0 bottom-0"></div>
</section>
