 <section class="lg:pb-36 pb-20 bg-secondary">
        <div class="container">
            <div class="lg:w-5/6 mx-auto">
                <div class="grid md:grid-cols-12 grid-cols-1 lg:gap-18 gap-7.5 md:mb-32 mb-18">
                    <div class="md:col-span-7 relative">
                        <div class="absolute bottom-0 start-1/2 -translate-x-1/2 -ms-12">
                            <img src="assets/images/elements/grad-shape/11.png" class="blur-[6px]" alt="Decoration shape">
                        </div>

                        <div class="absolute top-0 start-1/2 -translate-x-1/2 ms-24">
                            <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="opacity-30 blur-[80px]" alt="Grad shape">
                        </div>

                        <div class="grid md:grid-cols-2 gap-7.5 relative">
                            <img src="assets/images/about/08.jpg" class="rounded-2xl" alt="">
                            <div class="mt-7.5 md:mt-32">
                                <img src="assets/images/about/09.jpg" class="rounded-2xl" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="md:col-span-5">
                        <h2 class="mb-4 lg:text-4.5xl md:text-4xl text-3xl">Crafting stunning visuals</h2>
                        <p class="mb-4">We specialize in elevating brands through distinctive solutions that captivate and inspire.</p>
                        <p class="mb-4">Our creative team combines innovative design with <b>strategic insights to deliver visuals</b> that make a lasting impact. From concept to execution, we ensure your brand stands out in a crowded marketplace.</p>
                        <p class="mb-4">We focus on creating high-impact visuals that leave a lasting impression.</p>
                        <a class="text-white bg-primary py-3.5 px-7.5 rounded-md text-base font-medium inline-flex items-center gap-1 mt-4 group" routerLink="/portfolio/grid">Explore our work<lucide-icon name="arrow-right" class="size-4 group-hover:translate-x-1 transition-all duration-300"></lucide-icon> </a>
                    </div>
                </div>

                <div class="grid md:grid-cols-3 grid-cols-1 lg:gap-12 gap-7.5">
                    <div>
                        <h6 class="mb-2 flex md:text-2.2xl text-xl"><lucide-icon name="zap" class="fill-success text-success me-1"></lucide-icon>Our mission</h6>
                        <p class="mb-4 text-default-600">We empower brands with visually compelling solutions that drive engagement and leave a lasting impact.</p>
                    </div>

                    <div>
                        <h6 class="mb-2 flex md:text-2.2xl text-xl"><lucide-icon name="rocket" class="fill-pink text-pink me-1"></lucide-icon>Our vision</h6>
                        <p class="mb-4 text-default-600">Folio is to be recognized as a leading force in the world of visual communication.</p>
                    </div>

                    <div>
                        <h6 class="mb-2 flex md:text-2.2xl text-xl"><lucide-icon name="target" class="text-warning me-1"></lucide-icon>Our goal</h6>
                        <p class="mb-4 text-default-600">Our aim is to not only meet our clients' objectives but to surpass them, earning their trust and loyalty along the way.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>