<section class="lg:pb-36 pb-20 bg-secondary">
    <div class="container">
        <div class="grid lg:grid-cols-12 grid-cols-1 gap-7.5">
            <div class="col-span-5">
                <h2 class="mb-2 lg:mb-7.5 lg:text-4.5xl md:text-4xl text-3xl">Leading the future of software innovation</h2>
                <p class="mb-2 lg:mb-7.5 text-default-700">Our expert team is dedicated to understanding your unique needs and delivering solutions that exceed expectations.</p>

                <ul class="mb-4 lg:mb-7.5 space-y-1.75">
                   
                    @for(item of aboutsData;track $index){
                   <li class="flex items-start font-semibold text-default-900">
                        <lucide-icon name="circle-check" class="size-4.5 me-2 text-primary"></lucide-icon>
                       {{item}}
                    </li>
                    }
                </ul>

                <div class="flex gap-4 flex-wrap">
                    <a routerLink="/about/v2" class="text-white py-3.5 px-7.5 rounded-md font-medium bg-primary hover:bg-primary-hover">Learn more</a>
                    <a routerLink="/contact-us/v1" class="group flex items-center gap-1.5">
                        <span class="text-primary-grad">Schedule a consultation</span>
                        <lucide-icon name="arrow-right" class="group-hover:translate-x-0.5 size-4 text-primary transition-all duration-300"></lucide-icon>
                    </a>
                </div>
            </div>

            <div class="col-span-7 lg:ps-7.5 ms-auto relative lg:w-155.5">
                <div class="absolute start-0 bottom-0 -ms-18 mb-12 hidden md:block">
                    <img src="assets/images/elements/grad-shape/08.png" class="blur-xs z-50 relative" alt="shape decoration">
                </div>

                <div class="absolute top-1/2 start-0 -translate-y-1/2 -ms-7.5 -mt-24">
                    <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[32px] opacity-10" alt="Grad shape">
                </div>
                <img src="assets/images/about/04.jpg" class="rounded-2xl relative z-20" alt="about image">
            </div>
        </div>
    </div>
</section>