 <section class="lg:pb-36 pb-20 lg:pt-32 pt-20 relative overflow-hidden bg-secondary">
        <div class="absolute start-0 top-0">
            <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-30 blur-[144px] h-75 rotate-335" alt="Grad shape">
        </div>

        <div class="absolute end-0 top-0">
            <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-20 blur-[80px] h-75 rotate-335" alt="Grad shape">
        </div>

        <div class="container">
            <div class="max-w-225 mx-auto text-center md:pt-12 pt-7.5">
                <nav class="mb-4 pb-2 flex justify-center" aria-label="breadcrumb">
                    <ol class="flex items-center space-x-2 text-2xs text-default-500">
                        <li>
                            <a routerLink="/" class="hover:text-primary">
                                Home
                            </a>
                        </li>

                        <li class="flex items-center">
                            <span class="px-2 text-default-400">/</span>
                            <span class="font-medium text-primary" aria-current="page">
                                Blog Minimal
                            </span>
                        </li>
                    </ol>
                </nav>

                <h1 class="font-bold lg:text-6xl md:text-4.5xl text-4xl text-center mb-2">Hey,<span class="hand-wave-animate">🖐️</span> we’re <span class="text-primary-grad">Folio</span></h1>

                <h2 class="mb-2 lg:text-6xl md:text-4.5xl text-4xl text-center">Explore our stories, thoughts, and ideas.</h2>

                <div class="mt-12 lg:w-150 md:w-110 mx-auto">
                    <div class="mt-2 rounded-full bg-body-bg p-1 shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)]">
                        <!-- Input subscribe -->
                        <div class="flex items-center">
                            <input type="email" placeholder="Search....." class="flex-1 border-0 bg-transparent px-7.5 py-3.5 me-1 rounded-full! placeholder:text-default-400 focus:outline-none lg:w-full w-10">
                            <button type="button" class="rounded-full me-2 flex items-center justify-center bg-dark size-10 text-white">
                                <lucide-icon name="search" class="size-4"></lucide-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>