<section class="relative lg:pb-36 pb-20">
  <div
    class="absolute top-0 end-0 me-24 hidden sm:block"
    data-0="right:0%;top:50%;"
    data-top="right:0%;top:90%;"
  >
    <img src="assets/images/elements/hand-dec.png" alt="hand decoration" />
  </div>

  <div class="absolute start-0 bottom-0 -mb-24 -ms-24">
    <img src="assets/images/elements/grad-shape/05.png" alt="grad shape" />
  </div>

  <div
    class="max-w-387.5 mx-auto bg-secondary/50 rounded-2xl relative lg:py-32 py-18 backdrop-blur-sm overflow-hidden"
  >
    <div class="absolute top-0 end-0 -mt-18 -ms-12">
      <img
        src="assets/images/elements/grad-shape/blur-decoration.svg"
        class="blur-2xl opacity-10"
        alt="Grad shape"
      />
    </div>

    <div class="container">
      <div class="mb-12 max-w-225 mx-auto text-center mb-lg-6">
        <h2 class="mb-2 lg:text-4.5xl md:text-4xl text-3xl">Client Testimonials 😍</h2>
      </div>

      <div class="md:max-w-2/3 mx-auto">
        <!-- Slider START -->
        <div class="swiper mt-2 md:mt-7.5">
          <swiper-container 
          space-between="30" 
          autoplay-delay="4000"
          autoplay-disable-on-interaction="false" 
          [autoplay]="{
            pauseOnMouseEnter: true,
          }"
          pagination="true"
          pagination-el=".swiper-pagination"
          pagination-clickable="true"
          class="swiper-wrapper mb-12">
            @for (item of testimonialsData; track item.name) {
              <swiper-slide>
                <div class="text-center">
                  <!-- Image -->
                  <div class="mx-auto size-16 shrink-0 mb-7.5">
                    <img class="size-16 rounded-full" [src]="item.img" alt="avatar" />
                  </div>

                  <!-- Testimonials text -->
                  <blockquote class="mb-7.5">
                    <p class="text-xl font-medium text-default-900">
                      {{ item.text }}
                    </p>
                  </blockquote>

                  <!-- Rating star -->
                  <ul class="flex justify-center mb-7.5">
                    @for (star of [1, 2, 3, 4, 5]; track star) {
                      <li>
                        <lucide-icon
                          [name]="
                            item.rating >= star
                              ? 'star'
                              : item.rating >= star - 0.5
                                ? 'star-half'
                                : 'star'
                          "
                          class="size-5.5 fill-warning text-warning"
                        >
                        </lucide-icon>
                      </li>
                    }
                  </ul>

                  <!-- Testimonials info -->
                  <div>
                    <h6 class="md:text-2.2xl text-xl">{{ item.name }}</h6>
                    <span>{{ item.role }}</span>
                  </div>
                </div>
              </swiper-slide>
            }
          </swiper-container>

          <!-- Slider Pagination -->
          <div class="swiper-pagination swiper-pagination-primary absolute bottom-0 mb-4 swiper-pagination-bullets swiper-pagination-horizontal"></div>
        </div>
        <!-- Slider END -->
      </div>

      <hr class="border-secondary border my-12" />

      <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 md:px-12 gap-7.5">
        <div class="lg:col-span-4 md:col-span-2">
          <h5 class="lg:text-2.5xl text-2xl">
            More than 500+ clients using <span class="text-primary">Folio</span> platform
          </h5>
        </div>

        <div
          class="lg:col-span-5 col-span-1 border-e border-primary/25 pe-7.5 lg:ms-auto mb-7.5 sm:mb-0"
        >
          <div class="flex items-center">
            <!-- Icon -->
            <img src="assets/images/elements/apple.svg" class="size-14" alt="" />

            <!-- Content -->
            <div class="ms-4">
              <!-- Rating -->
              <ul class="flex mb-1">
                <li>
                  <lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon>
                </li>
                <li>
                  <lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon>
                </li>
                <li>
                  <lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon>
                </li>
                <li>
                  <lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon>
                </li>
                <li>
                  <lucide-icon
                    name="star-half"
                    class="size-4 fill-warning text-warning"
                  ></lucide-icon>
                </li>
              </ul>
              <span>4.8 stars on App Store</span>
            </div>
          </div>
        </div>

        <div class="lg:col-span-3 col-span-1 mb-7.5 sm:mb-0">
          <div class="flex items-center">
            <!-- Icon -->
            <img src="assets/images/elements/gicon.svg" class="size-14" alt="" />

            <!-- Content -->
            <div class="ms-4">
              <!-- Rating -->
              <ul class="flex mb-1">
                <li>
                  <lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon>
                </li>
                <li>
                  <lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon>
                </li>
                <li>
                  <lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon>
                </li>
                <li>
                  <lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon>
                </li>
                <li>
                  <lucide-icon
                    name="star-half"
                    class="size-4 fill-warning text-warning"
                  ></lucide-icon>
                </li>
              </ul>
              <span>4.6 stars on Google</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
