<section class="lg:pt-32 pt-20 relative overflow-hidden bg-dark">
    <div class="absolute top-0 start-0 -mt-44 -ms-12">
        <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[32px] opacity-20" alt="Grad shape">
    </div>

    <div class="absolute top-0 start-1/2 -mt-44 -ms-44">
        <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[80px] opacity-10" alt="Grad shape">
    </div>

    <div class="container">
        <div class="md:pt-12 pt-7.5 relative">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-7.5">
                <div class="lg:col-span-5 md:col-span-7 md:text-start text-center">
                    <nav class="mb-4 pb-4 flex md:justify-start justify-center" aria-label="breadcrumb">
                        <ol class="flex items-center text-2xs text-body-bg">
                            <li>
                                <a routerLink="/" class="hover:text-primary">
                                    Home
                                </a>
                            </li>

                            <li class="flex items-center">
                                <span class="px-2 text-default-400">/</span>
                                <span class="font-medium text-primary" aria-current="page">
                                    Services
                                </span>
                            </li>
                        </ol>
                    </nav>
                    <h1 class="mb-7.5 text-white lg:text-6xl md:text-4.5xl text-4xl">Our Professional Services</h1>
                    <a routerLink="/contact-us/v1" class="text-dark py-3.5 px-7.5 rounded-md font-medium inline-flex items-center bg-white hover:bg-white/90 mb-0"><lucide-icon name="phone" class="size-4 me-2 text-dark"></lucide-icon>Contact our experts</a>
                </div>

                <div class="lg:col-span-7 md:col-span-5 lg:w-127 lg:ms-auto lg:me-0 mx-auto">
                    <img src="assets/images/elements/service-hero.png" alt="hero image">
                </div>
            </div>
        </div>
    </div>

    <span>
        <svg class="absolute bottom-0 start-0 -mb-1 md:-mb-18" viewBox="0 0 1950 237" style="enable-background:new 0 0 1950 237;" xml:space="preserve">
            <path class="fill-body-bg" d="M1949.5,236.4H0v-164c717.2-131.2,1598.5-54.7,1949.5,0V236.4z"></path>
        </svg>
    </span>
</section>