 <section class="bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)]">
        <div class="container">
            <div class="lg:w-5/6 mx-auto md:mb-32 mb-20">
                <div class="grid lg:grid-cols-12 grid-cols-1 lg:gap-18 gap-7.5 items-center">
                    <div class="lg:col-span-5 relative">
                        <div class="md:text-[250px] text-[200px] lg:text-start text-center bg-[url('assets/images/about/text-bg.jpg')] bg-no-repeat bg-cover bg-center font-bold bg-clip-text text-transparent wrap-break-word leading-none">2002</div>
                        <h5 class="bg-body-bg px-7.5 py-2 lg:text-2.5xl text-2xl absolute top-0 -start-10 rotate-335">Since</h5>
                    </div>

                    <div class="lg:col-span-7">
                        <h2 class="mb-7.5 lg:text-4.5xl md:text-4xl text-3xl">Bringing ideas to life</h2>
                        <p class="mb-4">Our creative experts blend innovation with strategy to turn your vision into reality.</p>
                        <p class="mb-7.5">We believe great design is strategic. Our approach combines industry knowledge with creative insights to ensure your visual identity is impactful and results-driven.</p>

                        <ul class="flex flex-wrap gap-2 md:gap-7.5 pb-4">
                            <li class="flex items-center text-default-900">
                                <lucide-icon name="circle-check" class="me-1 text-primary size-4"></lucide-icon>
                                Creative design
                            </li>

                            <li class="flex items-center text-default-900">
                                <lucide-icon name="circle-check" class="me-1 text-primary size-4"></lucide-icon>
                                Strategic insight
                            </li>
                        </ul>
                        <a routerLink="/services/list" class="rounded-md inline-flex font-medium mt-4 bg-white border border-white text-dark shadow-[0_0.18rem_0.25rem_rgba(127,57,248,0.2)] py-3.5 px-7.5 hover:bg-white hover:border-white hover:text-dark hover:shadow-[0_0.3rem_0.25rem_rgba(127,57,248,0.3)] hover:-translate-y-0.75 transition-all duration-300">Explore our services </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="lg:w-387.75 lg:mx-auto bg-dark rounded-2xl py-12 md:py-24 lg:py-32 -mb-44 mx-4 relative">
            <div class="container">
                <div class="grid lg:grid-cols-12 grid-cols-1 gap-7.5">
                    <div class="md:col-span-5">
                        <h2 class="mb-7.5 md:mb-18 lg:text-4.5xl md:text-4xl text-3xl text-white">Our awards and achievements</h2>

                        <div class="grid md:grid-cols-3 grid-cols-1 gap-7.5">
                            @for (item of awardsData; track $index) {
                                <div>
                                  <img [src]="item.image" class="h-7.5 mb-4" alt="award logo" />
                                  <p class="text-white/80">{{ item.title }}</p>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="ms-auto absolute bottom-0 end-0 hidden lg:block">
                        <img src="assets/images/elements/awards-saly.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>