 <section class="relative overflow-hidden">
        <div class="bg-body-bg blur-5 h-75 w-full absolute bottom-0 start-0 z-20 -mb-18"></div>
        <div class="container">
            <div class="md:mb-12 mb-7.5 text-center">
                <h2 class="mb-7.5 lg:text-4.5xl md:text-4xl text-3xl">Trusted by industry leaders</h2>
                <ul class="flex items-center -space-x-3 mb-2 justify-center">
                    <li>
                        <img class="size-10 rounded-full" src="assets/images/avatar/02.jpg" alt="avatar" />
                    </li>

                    <li>
                        <img class="size-10 rounded-full" src="assets/images/avatar/05.jpg" alt="avatar" />
                    </li>

                    <li>
                        <img class="size-10 rounded-full" src="assets/images/avatar/10.jpg" alt="avatar" />
                    </li>

                    <li>
                        <img class="size-10 rounded-full" src="assets/images/avatar/09.jpg" alt="avatar" />
                    </li>
                    <li>
                        <img class="size-10 rounded-full" src="assets/images/avatar/06.jpg" alt="avatar" />
                    </li>
                </ul>
                <p class="text-default-700">Rated <span class="text-white text-xs bg-primary py-1 px-2 rounded">4.9/5.0</span> by over 100.000+ users</p>
            </div>

            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-7.5">
                <div class="flex flex-col gap-7.5">
                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/09.jpg" alt="avatar">
                                </div>
                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Jacqueline Miller</p>
                                    <small>@jaqmilr56</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Their team went above and beyond to understand our needs and deliver a solution that exceeded our expectations. They demonstrated throughout the process was truly impressive.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Feb 22, 2024</span>
                        </div>
                    </div>

                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/08.jpg" alt="avatar">
                                </div>
                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Michael Davis</p>
                                    <small>@Davischhotu</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Our passion for customer excellence is just one reason why we are the market leader. We've always worked very hard to give our customers the best experience.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Jan 21, 2024</span>
                        </div>
                    </div>

                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/05.jpg" alt="avatar">
                                </div>

                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Allen Smith</p>
                                    <small>@smith4u</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Working with this team has been an absolute pleasure. They took the time to understand our vision and delivered beyond our expectations. The creativity and professionalism they bring to the table are unmatched.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Jan 21, 2024</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-7.5">
                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/02.jpg" alt="avatar">
                                </div>

                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Louis Ferguson</p>
                                    <small>@fregulois2589</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Frequently partiality possession resolution at or appearance unaffected me. Ye goodness felicity do disposal dwelling no.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Jan 28, 2024</span>
                        </div>
                    </div>

                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/04.jpg" alt="avatar">
                                </div>

                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Emma Watson</p>
                                    <small>@Emson589</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Was out laughter raptures returned outweigh. Luckily cheered colonel I do we attack highest enabled. Tried law yet style child. The bore of true of no be deal.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Jan 21, 2024</span>
                        </div>
                    </div>

                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/01.jpg" alt="avatar">
                                </div>

                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Allen Smith</p>
                                    <small>@Brownmunde</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Was out laughter raptures returned outweigh. Luckily cheered colonel I do we attack highest enabled. Tried law yet style child. The bore of true of no be deal.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Jan 21, 2024</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-7.5">
                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/06.jpg" alt="avatar">
                                </div>

                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Samuel Bishop</p>
                                    <small>@samshop</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Two before narrow not relied on how except moment myself Dejection assurance Mrs led certainly So gate at no only none open Betrayed.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Jan 28, 2024</span>
                        </div>
                    </div>

                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/05.jpg" alt="avatar">
                                </div>

                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Allen Smith</p>
                                    <small>@smith4u</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Working with this team has been an absolute pleasure. They took the time to understand our vision and delivered beyond our expectations. The creativity and professionalism they bring to the table are unmatched.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Jan 21, 2024</span>
                        </div>
                    </div>

                    <div class="border border-default-200 dark:border-white/14 rounded-2xl p-4">
                        <div class="pt-5 px-5 flex justify-between">
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div class="shrink-0">
                                    <img class="size-12 rounded-full" src="assets/images/avatar/08.jpg" alt="avatar">
                                </div>

                                <div class="ms-4">
                                    <p class="text-default-900 font-semibold mb-0">Michael Davis</p>
                                    <small>@Davischhotu</small>
                                </div>
                            </div>
                            <!-- Twitter logo -->
                            <a [routerLink]="[]" class="text-default-900"><i class="iconify tabler--brand-x size-7"></i></a>
                        </div>

                        <div class="p-5">
                            <blockquote>
                                <p class="mb-4 text-default-700 font-medium">Our passion for customer excellence is just one reason why we are the market leader. We've always worked very hard to give our customers the best experience.</p>
                            </blockquote>
                            <span class="text-sm text-default-400">Jan 21, 2024</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute bottom-0 start-1/2 -translate-x-1/2 z-90 mb-7.5 md:mb-24">
            <a class="group text-white py-3.5 px-7.5 rounded-md inline-flex items-center gap-1 bg-primary-grad icon-link icon-link-hover text-nowrap" [routerLink]="[]">View all reviews<i data-lucide="arrow-right" class="size-4 group-hover:translate-x-0.5 transition-all duration-300"></i> </a>
        </div>
    </section>