<!-- Testimonials -->
<section class="relative">
    <div class="absolute top-full start-0 -translate-x-1/2 -translate-y-1/2 z-20 ms-12 xl:ms-44 mt-5 hidden md:block">
        <img src="assets/images/elements/grad-shape/10.png" class="h-125 xl:h-175" alt="">
    </div>
    <div class="container relative z-50">
        <div class="flex flex-wrap justify-between items-center md:mb-12 mb-7.5 gap-5">
            <h2 class="lg:text-4.5xl md:text-4xl text-3xl">What our clients say</h2>

            <div class="flex gap-2">
                <a [routerLink]="[]" class="bg-primary-grad size-12 rounded-full flex justify-center items-center" id="swiper-button-prev">
                    <lucide-icon name="arrow-left" class="size-6"></lucide-icon>
                </a>
                <a [routerLink]="[]" class="bg-primary-grad size-12 rounded-full flex justify-center items-center" id="swiper-button-next">
                    <lucide-icon name="arrow-right" class="size-6"></lucide-icon>
                </a>
            </div>
        </div>

        <!-- Testimonials START -->
        <div class="swiper">
            <swiper-container init="false" [config]="swiperConfig" class="swiper-wrapper">
                @for (testimonial of testimonialsData; track testimonial.author) {
                    <swiper-slide>
                        <div class="bg-secondary/50 backdrop-blur-[5px] rounded-2xl p-7.5 h-full">
                            <!-- Card body -->
                            <div class="mb-7.5">
                                <!-- Rating star -->
                                <ul class="flex mb-4 gap-1">
                                    @for (star of getStars(testimonial.rating); track $index) {
                                        @if (star === 1) {
                                            <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                        } @else if (star === 0.5) {
                                            <li><lucide-icon name="star-half" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                        } @else {
                                            <li><lucide-icon name="star" class="size-4 text-warning"></lucide-icon></li>
                                        }
                                    }
                                </ul>
                                <!-- Testimonials text -->
                                <blockquote>
                                    <p class="text-default-900 font-medium">{{ testimonial.text }}</p>
                                </blockquote>
                            </div>
                            <!-- Card footer -->
                            <div>
                                <!-- Testimonials info -->
                                <div class="flex items-center">
                                    <div>
                                        <img class="size-12 rounded-full" [src]="testimonial.avatar" [alt]="testimonial.author">
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-default-900 text-xl font-semibold">{{ testimonial.author }}</p>
                                        <small>{{ testimonial.position }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </swiper-slide>
                }
            </swiper-container>
        </div>
        <!-- Testimonials END -->
    </div>
</section>