<!-- Testimonials -->
<section class="relative">
    <div class="absolute top-full start-0 -translate-x-1/2 -translate-y-1/2 z-20 ms-12 xl:ms-44 mt-5 hidden md:block">
        <img src="/images/elements/grad-shape/10.png" class="h-125 xl:h-175" alt="">
    </div>
    <div class="container relative z-50">
        <div class="flex flex-wrap justify-between items-center md:mb-12 mb-7.5 gap-5">
            <h2 class="lg:text-4.5xl md:text-4xl text-3xl">What our clients say</h2>

            <div class="flex gap-2">
                <a href="#" class="bg-primary-grad size-12 rounded-full flex justify-center items-center" id="swiper-button-prev">
                    <i data-lucide="arrow-left" class="size-6"></i>
                </a>
                <a href="#" class="bg-primary-grad size-12 rounded-full flex justify-center items-center" id="swiper-button-next">
                    <i data-lucide="arrow-right" class="size-6"></i>
                </a>
            </div>
        </div>

        <!-- Testimonials START -->
        <div class="swiper" data-swiper-options='{
				"spaceBetween": 30,
				"breakpoints": {
					"576": {"slidesPerView": 1}, 
					"768": {"slidesPerView": 2}, 
					"992": {"slidesPerView": 3}
				},
				"navigation":{
					"nextEl":"#swiper-button-next",
					"prevEl":"#swiper-button-prev"
				}}'>

            <div class="swiper-wrapper">
                <!-- Testimonials item -->
                <div class="swiper-slide">
                    <div class="bg-secondary/50 backdrop-blur-[5px] rounded-2xl p-7.5 h-full">
                        <!-- Card body -->
                        <div class="mb-7.5">
                            <!-- Rating star -->
                            <ul class="flex mb-4 gap-1">
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star-half" class="size-4 fill-warning text-warning"></i></li>
                            </ul>
                            <!-- Testimonials text -->
                            <blockquote>
                                <p class="text-default-900 font-medium">Their team went above and beyond to understand our needs and deliver a solution that exceeded our expectations. They demonstrated throughout the process was truly impressive.</p>
                            </blockquote>
                        </div>
                        <!-- Card footer -->
                        <div>
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div>
                                    <img class="size-12 rounded-full" src="/images/avatar/09.jpg" alt="avatar">
                                </div>
                                <div class="ms-4">
                                    <p class="text-default-900 text-xl font-semibold">Jacqueline Miller</p>
                                    <small>Product designer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Testimonials item -->
                <div class="swiper-slide">
                    <div class="bg-secondary/50 backdrop-blur-[5px] rounded-2xl p-7.5 h-full">
                        <!-- Card body -->
                        <div class="mb-7.5">
                            <!-- Rating star -->
                            <ul class="flex mb-4 gap-1">
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                            </ul>
                            <!-- Testimonials text -->
                            <blockquote>
                                <p class="text-default-900 font-medium">Frequently partiality possession resolution at or appearance unaffected me. Ye goodness felicity do disposal dwelling no.</p>
                            </blockquote>
                        </div>
                        <!-- Card footer -->
                        <div>
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div>
                                    <img class="size-12 rounded-full" src="/images/avatar/10.jpg" alt="avatar">
                                </div>
                                <div class="ms-4">
                                    <p class="text-default-900 text-xl font-semibold">Louis Ferguson</p>
                                    <small>Web Developer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Testimonials item -->
                <div class="swiper-slide">
                    <div class="bg-secondary/50 backdrop-blur-[5px] rounded-2xl p-7.5 h-full">
                        <!-- Card body -->
                        <div class="mb-7.5">
                            <!-- Rating star -->
                            <ul class="flex mb-4 gap-1">
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star-half" class="size-4 fill-warning text-warning"></i></li>
                            </ul>
                            <!-- Testimonials text -->
                            <blockquote>
                                <p class="text-default-900 font-medium">Was out laughter raptures returned outweigh. Luckily cheered colonel I do we attack highest enabled. Tried law yet style child. The bore of true of no be deal.</p>
                            </blockquote>
                        </div>
                        <!-- Card footer -->
                        <div>
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div>
                                    <img class="size-12 rounded-full" src="/images/avatar/04.jpg" alt="avatar">
                                </div>
                                <div class="ms-4">
                                    <p class="text-default-900 text-xl font-semibold">Emma Watson</p>
                                    <small>UI/UX designer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Testimonials item -->
                <div class="swiper-slide">
                    <div class="bg-secondary/50 backdrop-blur-[5px] rounded-2xl p-7.5 h-full">
                        <!-- Card body -->
                        <div class="mb-7.5">
                            <!-- Rating star -->
                            <ul class="flex mb-4 gap-1">
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star-half" class="size-4 fill-warning text-warning"></i></li>
                            </ul>
                            <!-- Testimonials text -->
                            <blockquote>
                                <p class="text-default-900 font-medium">Our passion for customer excellence is just one reason why we are the market leader. We've always worked very hard to give our customers the best experience.</p>
                            </blockquote>
                        </div>
                        <!-- Card footer -->
                        <div>
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div>
                                    <img class="size-12 rounded-full" src="/images/avatar/07.jpg" alt="avatar">
                                </div>
                                <div class="ms-4">
                                    <p class="text-default-900 text-xl font-semibold">Allen Smith</p>
                                    <small>Manager</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Testimonials item -->
                <div class="swiper-slide">
                    <div class="bg-secondary/50 backdrop-blur-[5px] rounded-2xl p-7.5 h-full">
                        <!-- Card body -->
                        <div class="mb-7.5">
                            <!-- Rating star -->
                            <ul class="flex mb-4 gap-1">
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star" class="size-4 fill-warning text-warning"></i></li>
                                <li><i data-lucide="star-half" class="size-4 fill-warning text-warning"></i></li>
                            </ul>
                            <!-- Testimonials text -->
                            <blockquote>
                                <p class="text-default-900 font-medium">Was out laughter raptures returned outweigh. Luckily cheered colonel I do we attack highest enabled. Tried law yet style child. The bore of true of no be deal.</p>
                            </blockquote>
                        </div>
                        <!-- Card footer -->
                        <div>
                            <!-- Testimonials info -->
                            <div class="flex items-center">
                                <div>
                                    <img class="size-12 rounded-full" src="/images/avatar/01.jpg" alt="avatar">
                                </div>
                                <div class="ms-4">
                                    <p class="text-default-900 text-xl font-semibold">Emma Watson</p>
                                    <small>UI/UX designer</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials END -->
    </div>
</section>