<section class="lg:pb-36 pb-20">
        <div class="container">
            <div class="grid md:grid-cols-4 grid-cols-2 lg:gap-12 gap-7.5 items-center">
                <!-- Image item -->
                <div>
                    <div class="relative overflow-hidden group">
                        <!-- Image -->
                        <img src="assets/images/career/01.jpg" class="rounded-2xl" alt="course image">
                        <!-- Full screen button -->
                        <a class="absolute inset-0 p-10 overflow-hidden z-20 size-full" appGlightbox data-gallery="gallery" href="assets/images/career/01.jpg">
                            <lucide-icon name="maximize" class="text-white absolute top-1/2 start-1/2 size-9.5 opacity-0 group-hover:opacity-100 transition-all duration-500 -translate-x-1/2 -translate-y-1/2 bg-dark rounded-xl p-2"></lucide-icon>
                        </a>
                    </div>
                </div>

                <!-- Image item -->
                <div>
                    <!-- Item -->
                    <div class="relative overflow-hidden group mb-12">
                        <!-- Image -->
                        <img src="assets/images/career/02.jpg" class="rounded-2xl" alt="course image">
                        <!-- Full screen button -->
                        <a class="absolute inset-0 p-10 overflow-hidden z-20 size-full" appGlightbox data-gallery="gallery" href="assets/images/career/02.jpg">
                            <lucide-icon name="maximize" class="text-white absolute top-1/2 start-1/2 size-9.5 opacity-0 group-hover:opacity-100 transition-all duration-500 -translate-x-1/2 -translate-y-1/2 bg-dark rounded-xl p-2"></lucide-icon>
                        </a>
                    </div>
                    <!-- Item -->
                    <div class="relative overflow-hidden group">
                        <!-- Image -->
                        <img src="assets/images/career/03.jpg" class="rounded-2xl" alt="course image">
                        <!-- Full screen button -->
                        <a class="absolute inset-0 p-10 overflow-hidden z-20 size-full" appGlightbox data-gallery="gallery" href="assets/images/career/03.jpg">
                            <lucide-icon name="maximize" class="text-white absolute top-1/2 start-1/2 size-9.5 opacity-0 group-hover:opacity-100 transition-all duration-500 -translate-x-1/2 -translate-y-1/2 bg-dark rounded-xl p-2"></lucide-icon>
                        </a>
                    </div>
                </div>

                <!-- Image item -->
                <div>
                    <!-- Item -->
                    <div class="relative overflow-hidden group mb-12">
                        <!-- Image -->
                        <img src="assets/images/career/05.jpg" class="rounded-2xl" alt="course image">
                        <!-- Full screen button -->
                        <a class="absolute inset-0 p-10 overflow-hidden z-20 size-full" appGlightbox data-gallery="gallery" href="assets/images/career/05.jpg">
                            <lucide-icon name="maximize" class="text-white absolute top-1/2 start-1/2 size-9.5 opacity-0 group-hover:opacity-100 transition-all duration-500 -translate-x-1/2 -translate-y-1/2 bg-dark rounded-xl p-2"></lucide-icon>
                        </a>
                    </div>

                    <!-- Item -->
                    <div class="relative overflow-hidden group">
                        <!-- Image -->
                        <img src="assets/images/career/04.jpg" class="rounded-2xl" alt="course image">
                        <!-- Full screen button -->
                        <a class="absolute inset-0 p-10 overflow-hidden z-20 size-full" appGlightbox data-gallery="gallery" href="assets/images/career/04.jpg">
                            <lucide-icon name="maximize" class="text-white absolute top-1/2 start-1/2 size-9.5 opacity-0 group-hover:opacity-100 transition-all duration-500 -translate-x-1/2 -translate-y-1/2 bg-dark rounded-xl p-2"></lucide-icon>
                        </a>
                    </div>
                </div>

                <!-- Image item -->
                <div>
                    <div class="relative overflow-hidden group">
                        <!-- Image -->
                        <img src="assets/images/career/06.jpg" class="rounded-2xl" alt="course image">
                        <!-- Full screen button -->
                        <a class="absolute inset-0 p-10 overflow-hidden z-20 size-full" appGlightbox data-gallery="gallery" href="assets/images/career/06.jpg">
                            <lucide-icon name="maximize" class="text-white absolute top-1/2 start-1/2 size-9.5 opacity-0 group-hover:opacity-100 transition-all duration-500 -translate-x-1/2 -translate-y-1/2 bg-dark rounded-xl p-2"></lucide-icon>
                        </a>
                    </div>
                </div>
            </div> <!-- Row END -->
        </div>
    </section>