 <section class="lg:pt-44 lg:pb-36 md:pt-32 pt-20 pb-20 relative overflow-hidden">
        <!-- Grad shape -->
        <div class="absolute end-0 top-0">
            <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-10 blur-[80px] h-75 rotate-335" alt="Grad shape">
        </div>

        <!-- Grad shape -->
        <div class="absolute start-0 top-0">
            <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-20 blur-[144px] h-75 rotate-335" alt="Grad shape">
        </div>

        <!-- bg pattern -->
        <div class="absolute top-0 start-0">
            <img src="assets/images/elements/bg-pattern.svg" class="opacity-[0.05]" alt="bg pattern">
        </div>

        <div class="container">
            <div class="lg:w-182 md:w-110 mx-auto">
                <h1 class="mb-7.5 lg:text-6xl md:text-4.5xl text-4xl text-center">Meet our experts</h1>
                <p class="text-default-700 text-center">Our dedicated team is passionate about delivering exceptional results that exceed your expectations.</p>
            </div>
        </div>
    </section>