<section class="lg:pt-36 pt-20 overflow-hidden">
    <div class="relative pb-32 bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)]">
        <span>
            <svg class="abslolute top-0 start-0 -mt-4 md:-mt-1" viewBox="0 0 1920 108" style="enable-background:new 0 0 1920 108;" xml:space="preserve">
                <path class="fill-body-bg" d="M0,0l1920,1.5V108L0,0z"></path>
            </svg>
        </span>

        <div class="container">
            <div class="pt-12 lg:pt-0">
                <div class="grid lg:grid-cols-12 grid-cols-1 gap-7.5">
                    <div class="lg:col-span-5">
                        <span class="hand-wave-animate lg:text-4.5xl md:text-4xl text-3xl mb-2">🖐️</span>
                        <h2 class="mb-4 lg:text-6xl md:text-4.5xl text-4xl">Say Hello</h2>
                        <p>Our friendly team is ready to assist you with whatever you need.</p>

                        <div class="lg:pt-12">
                            <div class="mt-7.5 grid md:grid-cols-2 grid-cols-1 gap-7.5">
                                <div>
                                    <lucide-icon name="headset" class="size-9.5 stroke-1 text-primary"></lucide-icon>
                                    <h6 class="my-2 md:my-4 md:text-2xl text-xl">Call us</h6>
                                    <p class="mb-2">Let's work together towards a common goal - get in touch!</p>
                                    <a [routerLink]="[]" class="text-default-900 font-medium hover-underline">+91 222 555 666</a>
                                </div>

                                <div>
                                    <lucide-icon name="mail" class="size-9.5 stroke-1 text-primary"></lucide-icon>
                                    <h6 class="my-2 md:my-4 md:text-2xl text-xl">Email us</h6>
                                    <p class="mb-2">We respond to all inquiries within 24 hours.</p>
                                    <a [routerLink]="[]" class="text-default-900 font-medium hover-underline">example@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="lg:col-span-7">
                        <div class="p-7.5 rounded-2xl lg:w-155 ms-auto shadow-[0_10px_20px_rgba(127,57,248,0.15)] mt-12 lg:-mt-24 bg-body-bg">
                            <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
                                <div>
                                    <label class="block text-base font-medium mb-2">
                                        First name
                                    </label>
                                    <input type="text" class="w-full bg-secondary! rounded border-0! px-7.5 py-3.5 placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" />
                                </div>

                                <div>
                                    <label class="block text-base font-medium mb-2">
                                        Last name
                                    </label>
                                    <input type="text" class="w-full bg-secondary! rounded border-0! px-7.5 py-3.5 placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" />
                                </div>

                                <div>
                                    <label class="block text-base font-medium mb-2">
                                        Email address
                                    </label>
                                    <input type="email" class="w-full bg-secondary! rounded border-0! px-7.5 py-3.5 placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" />
                                </div>

                                <div>
                                    <label class="block text-base font-medium mb-2">
                                        Mobile number
                                    </label>
                                    <input type="text" class="w-full bg-secondary! rounded border-0! px-7.5 py-3.5 placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" />
                                </div>

                                <div class="md:col-span-2">
                                    <label class="block text-base font-medium mb-2">
                                        Subject
                                    </label>
                                    <input type="text" class="w-full bg-secondary! rounded border-0! px-7.5 py-3.5 placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition" />
                                </div>

                                <div class="md:col-span-2">
                                    <label class="block text-base font-medium mb-2">
                                        Message
                                    </label>
                                    <textarea class="w-full h-37.5 bg-secondary! rounded border-0! px-7.5 py-3.5 placeholder:text-default-400 focus:border-primary! focus:ring-1 focus:ring-primary outline-none transition"></textarea>
                                </div>
                            </div>

                            <div class="mt-7.5">
                                <button class="text-white bg-primary font-medium py-3.5 px-7.5 rounded-md mb-2 md:mb-0 hover:bg-primary-hover">Send a message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>