<section class="lg:py-36 py-20">
    <div class="container">
        <h3 class="mb-7.5 lg:text-4xl md:text-3.5xl text-2.5xl">Related works</h3>

        <div class="swiper">
            <swiper-container space-between="40" loop="false" pagination="true" pagination-el=".swiper-pagination" breakpoints='{
                    "576": { "slidesPerView": 1 },
                    "768": { "slidesPerView": 2 },
                    "1200": { "slidesPerView": 3 }
                }' class="swiper-wrapper mb-7.5">

                @for (item of portfolioSlidesData; track $index) {

                <swiper-slide class="swiper-slide group">
                    <div class="bg-transparent overflow-hidden">
                        <div class="overflow-hidden rounded-2xl">
                            <img [src]="item.image" class="group-hover:scale-104 transition-all duration-300" alt="portfolio-img">
                        </div>

                        <div class="pt-5">
                            <h6 class="md:text-2.2xl text-xl">
                                <a [routerLink]="item.link">
                                    {{ item.title }}
                                </a>
                            </h6>
                            <small class="text-sm">
                                {{ item.category }}
                            </small>
                        </div>

                    </div>
                </swiper-slide>
                }

            </swiper-container>
            <!-- Slider Pagination -->
            <div class="swiper-pagination swiper-pagination-primary relative"></div>
        </div>
    </div>
</section>