<section class="lg:pb-36 pb-20">
    <div class="container">
        <div class="grid md:grid-cols-2 gap-7.5">
            <div class="relative">
                <div class="absolute top-0 start-0 xl:ms-12 lg:block hidden">
                    <img src="assets/images/elements/rocket-02.png" class="h-37.5 rotate-335" alt="rocket image">
                </div>

                <div class="grid lg:grid-cols-3 grid-cols-1 lg:ps-24 lg:w-full w-60">
                    <div class="lg:col-span-2">
                        <img src="assets/images/about/13.jpg" class="rounded-full" alt="image">
                    </div>

                    <div class="col-span-1 mt-auto lg:-ms-12 mb-12">
                        <div class="card rounded-lg shadow-lg text-center p-0">
                            <!-- Card body -->
                            <div class="bg-body-bg rounded-t-lg p-4">
                                <h6 class="lg:text-6xl md:text-4.5xl text-4xl mb-2">4.8</h6>
                                <ul class="flex justify-center gap-2 mb-1">
                                    <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                    <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                    <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                    <li><lucide-icon name="star" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                    <li><lucide-icon name="star-half" class="size-4 fill-warning text-warning"></lucide-icon></li>
                                </ul>
                                <span>2855 Reviews</span>
                            </div>
                            <!-- Card footer -->
                            <div class="rounded-b-lg bg-dark p-4">
                                <img src="assets/images/elements/trustpilot-light.svg" class="h-7.5 mx-auto" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:w-127.5 ms-auto">
                <h2 class="mb-2 lg:text-4.5xl md:text-4xl text-3xl">Why choose us?</h2>

                <!-- Accordion Group -->
                <div class="hs-accordion-group mt-12">
                    <div class="hs-accordion mb-4 pb-4 border-b border-default-200 dark:border-white/14 active" id="heading-1">
                        <button class="hs-accordion-toggle w-full font-semibold text-start text-xl text-default-700 focus:outline-hidden focus:text-muted-foreground-1 rounded-lg flex items-center disabled:opacity-50 disabled:pointer-events-none" aria-expanded="true" aria-controls="collapse-1">
                            Rapid prototype development
                            <lucide-icon name="minus" class="hs-accordion-active:block hidden size-4 ms-auto"></lucide-icon>
                            <lucide-icon name="plus" class="hs-accordion-active:hidden block size-4 ms-auto"></lucide-icon>
                        </button>

                        <div id="collapse-1" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="heading-1">
                            <p class="pt-2 font-medium">
                                Our expert team delivers a functional prototype within 24 hours, ensuring rapid progress and immediate feedback.
                            </p>
                        </div>
                    </div>

                    <div class="hs-accordion mb-4 border-b border-default-200 dark:border-white/14 pb-4" id="heading-2">
                        <button class="hs-accordion-toggle w-full font-semibold text-start text-xl text-default-700 focus:outline-hidden focus:text-muted-foreground-1 rounded-lg flex items-center disabled:opacity-50 disabled:pointer-events-none" aria-expanded="false" aria-controls="collapse-2">
                            Client-Centric approach
                            <lucide-icon name="minus" class="hs-accordion-active:block hidden size-4 ms-auto"></lucide-icon>
                            <lucide-icon name="plus" class="hs-accordion-active:hidden block size-4 ms-auto"></lucide-icon>
                        </button>

                        <div id="collapse-2" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="heading-2">
                            <p class="pt-2 font-medium">
                                We provide a range of tools, guides, and best practices to help you create designs, websites.
                            </p>
                        </div>
                    </div>

                    <div class="hs-accordion mb-4 border-b border-default-200 dark:border-white/14 pb-4" id="heading-3">
                        <button class="hs-accordion-toggle w-full font-semibold text-start text-xl text-default-700 focus:outline-hidden focus:text-muted-foreground-1 rounded-lg flex items-center disabled:opacity-50 disabled:pointer-events-none" aria-expanded="false" aria-controls="collapse-3">
                            24/7 tech & business support
                            <lucide-icon name="minus" class="hs-accordion-active:block hidden size-4 ms-auto"></lucide-icon>
                            <lucide-icon name="plus" class="hs-accordion-active:hidden block size-4 ms-auto"></lucide-icon>
                        </button>

                        <div id="collapse-3" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="heading-3">
                            <p class="pt-2 font-medium">
                                We provide a range of tools, guides, and best practices to help you create designs, websites.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Accordion Group -->
            </div>
        </div>
    </div>
</section>