<section class="lg:pt-32 pt-20 pb-4 relative overflow-hidden bg-secondary">
    <span>
        <svg class="absolute bottom-0 start-0" viewBox="0 0 1920 193.5" style="enable-background:new 0 0 1920 193.5;" xml:space="preserve">
            <path class="fill-body-bg" d="M556,116.1c-184.7-78.7-447.6-32.8-556,0v77.4h1920V0c-56.4,35.6-132.2,69.4-285.5,38 C1481.2,6.6,1333-21.5,1125.7,55.4C1012.7,108.5,740.7,194.8,556,116.1z"></path>
        </svg>
    </span>

    <div class="container">
        <div class="relative sm:pt-12 pt-7.5">


            <div class="grid lg:grid-cols-12 grid-cols-1 lg:gap-7.5 mb-12 md:mb-24">
                <div class="lg:col-span-5">
                    <h1 class="font-bold lg:text-[67px] md:text-[52px] text-4xl mb-4 sm:mb-7.5 lg:mb-0">The Creative Insight <span class="text-primary-grad">Blogs</span></h1>
                </div>

                <div class="lg:col-span-7 lg:w-127 ms-auto">
                    <p class="text-default-700">Dive into expert insights, innovative ideas, and inspiring stories to elevate your brand. Explore the forefront of design and marketing with The Creative Insight Blog.</p>

                    <div class="mt-7.5 rounded-full bg-body-bg p-1 shadow-[0_0.2rem_0.25rem_rgba(127,57,248,0.2)]">
                        <!-- Input subscribe -->
                        <div class="flex items-center">
                            <input type="email" placeholder="Search....." class="flex-1 border-0 bg-transparent px-7.5 py-3.5 me-1 rounded-full! placeholder:text-default-400 focus:outline-none lg:w-full w-10">
                            <button type="button" class="rounded-full me-2 flex items-center justify-center bg-dark size-10 text-white">
                                <lucide-icon name="search" class="size-4"></lucide-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid lg:grid-cols-2 grid-cols-1 gap-7.5">
                @for (blog of featuredBlogData; track $index) {
                <article class="relative overflow-hidden rounded-2xl group">
                    <!-- Card Image -->
                    <img [src]="blog.image" class="rounded-2xl group-hover:scale-104 transition-all duration-500" alt="blog-img">
                    <!-- BG overlay -->
                    <div class="absolute inset-0 opacity-30 block bg-dark"></div>

                    <!-- Card elements -->
                    <div class="flex flex-col items-start sm:p-12 p-5 absolute inset-0">
                        <!-- badge -->
                        <div class="text-xs rounded px-1.5 py-1 bg-dark text-white mb-4">{{ blog.category }}</div>

                        <!-- Title -->
                        <div class="card-text mt-auto">
                            <h5 class="mb-4 lg:text-2.5xl md:text-2xl text-2xl"><a [routerLink]="blog.link" class="text-white"> {{ blog.title }}</a></h5>
                            <!-- List -->
                            <ul class="flex items-center gap-1">
                                <li class="flex items-center">
                                    <div class="flex items-center text-white relative">
                                        <div class="size-10 shrink-0">
                                            <img [src]="blog.authorImage" alt="avatar" class="size-full rounded-full object-cover" />
                                        </div>
                                        <span class="ms-4">
                                            by <a [routerLink]="[]" class="hover:underline">{{ blog.author }}</a>
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <lucide-icon name="dot" class="text-white hidden sm:block"></lucide-icon>
                                </li>

                                <li class="text-white hidden sm:block">
                                    {{ blog.date }}
                                </li>

                                <li>
                                    <lucide-icon name="dot" class="text-white hidden sm:block"></lucide-icon>
                                </li>

                                <li class="text-white hidden xl:block">
                                    {{blog.readTime}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                }
            </div>
        </div>
    </div>
</section>