<section class="lg:pb-36 pb-20 lg:pt-32 pt-20 relative overflow-hidden bg-dark">
    <div class="absolute top-0 start-0 -mt-44 -ms-12">
        <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-2xl opacity-20" alt="Grad shape">
    </div>

    <div class="absolute top-0 start-1/2 -translate-x-1/2 -mt-11 -ms-11">
        <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[80px] opacity-10" alt="Grad shape">
    </div>

    <div class="container">
        <div class="text-center md:pt-12 pt-7.5">
            <nav class="mb-4 pb-2 flex justify-center" aria-label="breadcrumb">
                <ol class="flex items-center space-x-2 text-2xs text-white">
                    <li>
                        <a routerLink="/" class="hover:text-primary">
                            Home
                        </a>
                    </li>

                    <li class="flex items-center">
                        <span class="px-2 text-white">/</span>
                        <span class="font-medium text-primary" aria-current="page">
                            Portfolio
                        </span>
                    </li>
                </ol>
            </nav>
            <h1 class="mb-12 lg:text-6xl md:text-4.5xl text-4xl text-white">Our Portfolio</h1>
        </div>
    </div>

    <span>
        <svg class="absolute bottom-0 start-0 -mb-1 lg:-mb-12 xl:-mb-24" viewBox="0 0 1950 237" style="enable-background:new 0 0 1950 237;" xml:space="preserve">
            <path class="fill-body-bg" d="M1949.5,236.4H0v-164c717.2-131.2,1598.5-54.7,1949.5,0V236.4z"></path>
        </svg>
    </span>
</section>