<section class="md:pb-24 pb-12 lg:pt-32 pt-20 relative overflow-hidden">
    <div class="container">
        <div class="pt-12">
            <nav class="mb-4 pb-2 flex justify-center" aria-label="breadcrumb">
                <ol class="flex items-center space-x-2 text-2xs text-default-600">
                    <li>
                        <a routerLink="/" class="hover:text-primary font-medium">
                            Home
                        </a>
                    </li>

                    <li class="flex items-center">
                        <span class="px-2 text-default-400">/</span>
                        <span class="font-medium text-primary" aria-current="page">
                            Portfolio case study
                        </span>
                    </li>
                </ol>
            </nav>
            <h1 class="mb-2 lg:text-6xl md:text-4.5xl text-4xl text-center">Case studies</h1>
        </div>
    </div>
</section>