<section class="lg:pb-36 pb-20 lg:pt-24 md:pt-12">
        <div class="container">
            <div class="grid lg:grid-cols-12 grid-cols-1 gap-7.5">
                <div class="col-span-5">
                    <h2 class="mb-7.5 lg:text-4.5xl md:text-4xl text-3xl">Trusted by industry leaders</h2>
                    <p class="mb-2">3000+ Users rated us <span class="text-warning font-bold">4.85</span> out of 5.</p>
                    <!-- Avatar list -->
                    <ul class="flex items-center -space-x-3 mb-2">
                        <li>
                            <img class="size-10 rounded-full" src="assets/images/avatar/01.jpg" alt="avatar" />
                        </li>

                        <li>
                            <img class="size-10 rounded-full" src="assets/images/avatar/02.jpg" alt="avatar" />
                        </li>

                        <li>
                            <img class="size-10 rounded-full" src="assets/images/avatar/03.jpg" alt="avatar" />
                        </li>

                        <li>
                            <img class="size-10 rounded-full" src="assets/images/avatar/08.jpg" alt="avatar" />
                        </li>

                        <li>
                            <img class="size-10 rounded-full" src="assets/images/avatar/09.jpg" alt="avatar" />
                        </li>
                    </ul>
                </div>

                <div class="col-span-7">
                    <div class="flex gap-4 flex-wrap">
                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/01.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/01.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/07.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/07.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/08.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/08.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/02.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/02.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/03.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/03.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/04.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/04.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/05.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/05.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/11.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/11.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/10.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/10.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/06.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/06.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <div class="bg-secondary/50 rounded-2xl p-4">
                                <img src="assets/images/client/logo-dark/09.svg" class="dark:hidden h-7.5" alt="client logo">
                                <img src="assets/images/client/logo-light/09.svg" class="hidden dark:block h-7.5" alt="client logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>