<section class="bg-secondary relative overflow-hidden">
        <span class="absolute start-0 bottom-0 -mb-1">
            <svg class="fill-body-bg" width="1950" height="237" viewBox="0 0 1950 237" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 236.442H1949.5V72.4424C1232.3 -58.7576 351 17.7757 0 72.4424V236.442Z"></path>
            </svg>
        </span>

        <div class="px-5 relative">
            <div class="absolute end-0 bottom-0 me-18 z-90 hidden lg:block">
                <img src="assets/images/elements/rocket-03.png" class="h-50" alt="rocket image">
            </div>

            <div class="max-w-387 mx-auto bg-dark relative rounded-2xl overflow-hidden py-12 md:py-18 lg:py-32">
                <div class="absolute top-0 start-1/2 -translate-x-1/2 -translate-y-1/2">
                    <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-20 blur-[144px]" alt="Grad shape">
                </div>

                <div class="absolute bottom-0 start-0 -mb-32 -ms-12">
                    <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-[32px] opacity-20" alt="Grad shape">
                </div>

                <div class="container relative">
                    <h2 class="text-center mb-7.5 md:mb-18 lg:text-4.5xl md|:text-4xl text-3xl text-white">Meet our creative team</h2>
                    <div class="grid lg:grid-cols-5 md:grid-cols-3 items-center gap-7.5">
                        <div class="text-center">
                            <div class="md:size-32 size-20.5 mx-auto shrink-0 mb-4">
                                <img class="rounded-full" src="assets/images/team/01.jpg" alt="avatar">
                            </div>
                            <h6 class="mb-1 md:text-2.2xl text-xl text-white hover:text-primary"><a [routerLink]="[]">Emma Watson</a></h6>
                            <small class="text-sm text-white/80">Co-Founder / CEO</small>
                            <div class="mt-4 flex justify-center gap-3">
                                <a class="text-white" [routerLink]="[]"><lucide-icon name="facebook" class="fill-white size-4"></lucide-icon></a>
                                <a class="text-white" [routerLink]="[]"><iconify-icon icon="tabler:brand-x" class="size-4"></iconify-icon></a>
                                <a class="text-white" [routerLink]="[]"><lucide-icon name="instagram" class="size-4"></lucide-icon></a>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="md:size-32 size-20.5 mx-auto shrink-0 mb-4">
                                <img class="rounded-full" src="assets/images/team/02.jpg" alt="avatar">
                            </div>
                            <h6 class="mb-1 md:text-2.2xl text-xl text-white hover:text-primary"><a [routerLink]="[]">Allen Smith</a></h6>
                            <small class="text-sm text-white/80">Finance</small>
                            <div class="mt-4 flex justify-center gap-3">
                                <a class="text-white" [routerLink]="[]"><lucide-icon name="facebook" class="fill-white size-4"></lucide-icon></a>
                                <a class="text-white" [routerLink]="[]"><iconify-icon icon="tabler:brand-x" class="size-4"></iconify-icon></a>
                                <a class="text-white" [routerLink]="[]"><lucide-icon name="instagram" class="size-4"></lucide-icon></a>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="md:size-32 size-20.5 mx-auto shrink-0 mb-4">
                                <img class="rounded-full" src="assets/images/team/04.jpg" alt="avatar">
                            </div>
                            <h6 class="mb-1 md:text-2.2xl text-xl text-white hover:text-primary"><a [routerLink]="[]">Louis Ferguson</a></h6>
                            <small class="text-sm text-white/80">Recruiting</small>
                            <div class="mt-4 flex justify-center gap-3">
                                <a class="text-white" [routerLink]="[]"><lucide-icon name="facebook" class="fill-white size-4"></lucide-icon></a>
                                <a class="text-white" [routerLink]="[]"><iconify-icon icon="tabler:brand-x" class="size-4"></iconify-icon></a>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="md:size-32 size-20.5 mx-auto shrink-0 mb-4">
                                <img class="rounded-full" src="assets/images/team/03.jpg" alt="avatar">
                            </div>
                            <h6 class="mb-1 md:text-2.2xl text-xl text-white hover:text-primary"><a [routerLink]="[]">Frances Guerrero</a></h6>
                            <small class="text-sm text-white/80">Product Manager</small>
                            <div class="mt-4 flex justify-center gap-3">
                                <a class="text-white" [routerLink]="[]"><lucide-icon name="facebook" class="fill-white size-4"></lucide-icon></a>
                                <a class="text-white" [routerLink]="[]"><lucide-icon name="instagram" class="size-4"></lucide-icon></a>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="md:size-32 size-20.5 mx-auto shrink-0 mb-4">
                                <img class="rounded-full" src="assets/images/team/05.jpg" alt="avatar">
                            </div>
                            <h6 class="mb-1 md:text-2.2xl text-xl text-white hover:text-primary"><a [routerLink]="[]">Amanda Reed</a></h6>
                            <small class="text-sm text-white/80">Solution Engineer</small>
                            <div class="mt-4 flex justify-center gap-3">
                                <a class="text-white" [routerLink]="[]"><iconify-icon icon="tabler:brand-x" class="size-4"></iconify-icon></a>
                                <a class="text-white" [routerLink]="[]"><lucide-icon name="instagram" class="size-4"></lucide-icon></a>
                            </div>
                        </div>
                    </div>

                    <div class="text-center inline-flex flex-col items-center gap-2 w-full mt-12">
                        <a href="contact-us.html" class="py-3.5 px-7.5 text-white rounded-md font-medium bg-primary-grad">Connect with our team</a>
                        <a class="text-white inline-flex items-center gap-1.5 group" href="career.html">Explore career options<lucide-icon name="arrow-right" class="size-4 group-hover:translate-x-1 transition-all duration-300"></lucide-icon> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>