<section class="lg:pb-36 pb-20">
        <!-- Video section -->
        <div class="relative h-100 xl:h-125 overflow-hidden bg-[url('assets/images/about/10.jpg')] bg-cover bg-center bg-no-repeat">

            <!-- Play button -->
            <div class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 z-20">
                <a href="https://www.youtube.com/embed/tXHviS-4ygo" class="flex size-14 items-center justify-center rounded-full bg-white hover:bg-white/90 shadow-lg">
                    <lucide-icon name="play" class="size-4 fill-dark"></lucide-icon>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="xl:-mt-24 -mt-12">
                <div class="bg-dark relative rounded-2xl overflow-hidden lg:p-18 md:p-12 p-7.5">
                    <div class="absolute top-0 start-0 -mt-24 -ms-12">
                        <img src="assets/images/elements/grad-shape/02.png" class="blur-2xl opacity-30" alt="Grad shape">
                    </div>

                    <div class="grid lg:grid-cols-2 grid-cols-1 gap-7.5">
                        <div class="lg:text-start text-center">
                            <h2 class="text-white lg:text-4xl md:text-3.5xl text-2.5xl mb-4">Need finance guidance?</h2>
                            <p class="text-white/80">We've always worked very hard to give our customers the best experience.</p>
                        </div>

                        <div class="lg:w-sm lg:ms-auto">
                            <div class="text-white text-center mb-4 text-base">
                                <span class="lg:text-4.5xl md:text-4xl text-3xl font-bold">$9.99</span> /per hour
                            </div>
                            <div>
                                <a [routerLink]="[]" class="rounded-md font-medium bg-primary-grad py-3.5 px-7.5 justify-center inline-flex items-center w-full"><lucide-icon name="phone" class="me-1"></lucide-icon>Book call!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>