<software-hero />
<software-features />
<software-client />
<software-services />
<software-method />
<software-testimonials />
<software-cta />
<software-faq />
<software-subscribe />

<div id="dismiss-alert" class="hs-removing:opacity-0 transition duration-300 rounded-md mb-4 py-2 px-4 fixed bottom-0 left-1/2 -translate-x-1/2 bg-body-bg z-99 shadow hidden md:flex items-center" role="alert" tabindex="-1" aria-labelledby="hs-dismiss-button-label">
    <p class="text-default-900 font-semibold md:mb-0 mb-4">🍪 The website uses cookies to improve your web experience.</p>
    <button class="bg-success/10 ms-2 font-medium text-success py-1 px-4 text-2xs rounded-full hover:text-white hover:bg-success" data-hs-remove-element="#dismiss-alert">Accept</button>
</div>

<app-footer2/>
