<section class="bg-secondary relative overflow-hidden lg:py-36 py-20">
        <span class="absolute top-0 start-0 -mt-12">
            <svg class="fill-body-bg" width="1930" height="137" viewBox="0 0 1930 137" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M464.909 117.12C228.685 132.607 108.971 82.5335 0 51.0476V1.5L1930 0V26.649V132.607C1873.32 98.4636 1645.24 119.618 1488.21 132.607C1319.34 146.576 1149.46 119.696 1051.95 103.318C837.339 67.2694 668.231 103.79 464.909 117.12Z"></path>
            </svg>
        </span>

        <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-7.5 pt-12">
                <div class="md:col-span-5">
                    <h2 class="mb-4 lg:text-4.5xl md:text-4xl text-3xl">Stay updated with our newsletter</h2>
                    <p>Our newsletter provides valuable content designed to help you stay ahead in your field.</p>
                </div>

                <div class="md:col-span-7 w-auto lg:w-127.5 ms-auto">
                    <form class="flex flex-wrap items-center gap-2 mx-auto justify-center relative">
                        <div class="relative p-3 lg:w-127.5 bg-body-bg rounded-md">
                            <input type="email" placeholder="Enter your email address" class="w-full px-7.5 py-3.5 text-base rounded-md bg-body-bg! focus:outline-none border-0" />
                            <button type="submit" class="absolute end-2 top-1.5 inline-flex px-8.75 py-4.75 text-base font-semibold text-white bg-primary hover:bg-primary-hover rounded-lg">
                                Subscribe!
                            </button>
                        </div>
                        <p class="w-full mt-2 text-sm text-default-600">
                            ✌️ No Spam — We Promise!
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>