<section class="bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)] py-24 relative overflow-hidden">
        <div class="container">
            <div class="grid md:grid-cols-2 grid-cols-1 gap-7.5 items-center">
                <div>
                    <h2 class="mb-7.5 lg:text-4.5xl md:text-4xl text-3xl">Start your online banking today</h2>
                    <p class="mb-7.5 text-default-700">Join the millions of users who are already enjoying a smarter, simpler, and more secure way to manage their finances.</p>

                    <div class="sm:flex">
                        <a [routerLink]="[]"> <img src="assets/images/elements/google-play.svg" class="hover:-translate-y-1 transition-all duration-300 me-7.5 mb-2 sm:mb-0" width="150" alt="play store"> </a>
                        <a [routerLink]="[]"> <img src="assets/images/elements/app-store.svg" class="hover:-translate-y-1 transition-all duration-300 " width="150" alt="app-store"> </a>
                    </div>
                </div>

                <div class="ms-12">
                    <img src="assets/images/mobile-app/cta.png" class="-mb-12 lg:-mb-44 lg:ms-12" alt="cta image">
                </div>
            </div>
        </div>
    </section>