<section class="lg:py-36 py-20 bg-secondary relative">
  <div class="container relative z-20">
    <div class="lg:w-225 mx-auto">
      <h2 class="md:mb-12 mb-12 lg:text-4.5xl md:text-4xl text-3xl text-center">
        Have questions? (FAQs)
      </h2>

      <!-- Accordion -->
      <div class="hs-accordion-group">
        @for (faq of faqsData; track $index) {
          <div
            class="hs-accordion bg-body-bg/60 rounded-xl p-3.75 mb-7.5"
            [class]="faq.active ? 'active' : ''"
            [attr.id]="'heading-' + faq.id"
          >
            <!-- Button -->
            <button
               (click)="toggleAccordion($index)"
              class="hs-accordion-toggle text-default-900 py-4 px-5 inline-flex items-center text-xl w-full font-semibold text-start focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none"
              [attr.aria-expanded]="faq.active"
              [attr.aria-controls]="'collapse-' + faq.id"
            >
              {{ faq.question }}
              <div class="ms-auto">
                <div
                  class="bg-default-900 size-7 flex justify-center items-center rounded-full transition-colors duration-300"
                  [class.bg-primary]="faq.active"
                >
                  <lucide-icon
                    name="chevron-down"
                    class="text-body-bg size-4 transition-transform duration-300"
                    [class.rotate-180]="faq.active"
                  >
                  </lucide-icon>
                </div>
              </div>
            </button>

            <!-- Content -->
            <div
              [attr.id]="'collapse-' + faq.id"
              role="region"
              [attr.aria-labelledby]="'heading-' + faq.id"
              class="overflow-hidden transition-all duration-500 ease-in-out"
              [class.max-h-0]="!faq.active"
              [class.max-h-96]="faq.active"
              [class.opacity-100]="faq.active"
            >
              <p class="px-5 pb-4 text-default-700">
                {{ faq.answer }}
              </p>
            </div>
          </div>
        }
      </div>
      <!-- End Accordion Group -->
      <p class="text-default-700 font-medium text-center">
        Need help? Our team is ready to assist you. Start a chat for quick support.
        <a [routerLink]="[]" class="hover-underline text-primary font-semibold">Talk to Us</a>
      </p>
    </div>
  </div>
</section>
