<section
  class="py-24 bg-[linear-gradient(90deg,rgba(240,150,255,0.15)_0%,rgba(191,200,252,0.15)_51%,rgba(187,148,255,0.15)_100%)] rounded-2xl overflow-hidden relative"
>
  <div class="absolute end-0 top-0 rotate-13 -mt-12 -me-18 hidden sm:block">
    <img
      src="assets/images/elements/geo-grad-pattern.svg"
      class="h-150 opacity-30"
      alt="bg pattern"
    />
  </div>

  <div class="absolute start-0 top-0 rotate-343 -mt-4 -ms-12 hidden xl:block">
    <img src="assets/images/elements/grad-shape/10.png" class="h-125" alt="bg pattern" />
  </div>

  <div class="container">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-7.5 items-center">
      <div>
        <h2 class="lg:text-4.5xl md:text-4xl text-3xl mb-2">
          Partner with our <span class="text-primary-grad">creative</span> team
        </h2>
        <p class="text-default-700">
          Discover the difference a dedicated, creative, and strategic team can make for your
          business.
        </p>
      </div>

      <div class="lg:text-end relative z-20">
        <a [routerLink]="[]" class="text-white bg-dark py-3.5 px-7.5 rounded-md font-medium"
          >Schedule a consultation</a
        >
      </div>
    </div>
  </div>
</section>
